<include file="Public:head"/>
<script type="text/javascript" charset="utf-8" src="__JS__/datepicker/WdatePicker.js"></script>
<style>
.ftnormal {line-height: 25px!important;}
.btn{vertical-align: baseline;}
.newinput{ width:250px;}
.select.mini{width: 110px;}
.vtal-2{vertical-align: -2px;}
.shady{ background:#000; opacity:0.5; width:100%; height:100%; position:fixed; top:0; left:0; z-index:111111; display:none; }
.achtpay{position: fixed;width: 400px;height: auto;left: 46%;top: 46%;margin-left: -200px;margin-top: -190px;z-index: 999998;}
.acfahuo{position: fixed;width: 400px;height: auto;left: 46%;top: 46%;margin-left: -200px;margin-top: -190px;z-index: 999998;}
.achtchangeprice{position:fixed;width:750px;height:auto;left:46%;top:46%;margin-left:-250px;margin-top:-190px;z-index:999998;}
.wxtables thead>td{font-weight: 700;background: #eee;color: #555;border-left: 0;border-right: 0;}
.wxtables tr>td{text-align:center; /*设置水平居中*/vertical-align:middle;/*设置垂直居中*/padding: 8px 10px;word-break:normal;}
.wxtables tr>td .table-item{padding: 10px 0px 10px 10px;}
.wxtables tr>td .topp{text-align:left;}
.wxtables tr>td .noteb{font-size: 14px;line-height: 14px;color: #428bca;}
</style>
<div class="container">
<div class="inner clearfix">
    <include file="Public:left"/>
<!-- end content-left -->
<div class="shady" id="heemu"></div>
<img src="" id="em" style="position:fixed;width:34%;margin:auto;left:0;right:0;display:none;z-index:999;cursor:pointer;" onclick="this.style.display='none',document.getElementById('heemu').style.display='none'"/>
<div class="content-right fl">
    <h1 class="content-right-title">所有订单(查询时间段不能超过30天)<a href="javascript:history.go(-1);" style="float:right" class="btn">返回</a></h1>
    <form id="search-form" action="{:U('Admin/Goodsorder/index/order_status')}/{$order_status}" method="get">
        <div class="tables-searchbox">
            <input type="text" placeholder="订单编号" class="input newinput" name="name" value="{:I('name')}">
            <input type="text"  name="starttime" id="starttime" value="{:I('starttime')}" placeholder="订单起始时间" class="input Wdate" >
            <span class="mgr5">至</span>
            <input type="text"  name="endtime" id="endtime" value="{:I('endtime')}" placeholder="订单结束时间" class="input Wdate" >
            <button class="btn btn-primary vtal-2"><i class="gicon-search white"></i>查询</button>
            <!-- <a href="javascript:void(0);" class="btn  btn-warning vtal-2">订单金额:{$money|default=0.00}</a> -->
            <a href="javascript:;" id="orderexport" style="cursor:pointer" class="btn btn-primary fr">导出</a>
        </div>
    </form>
    <div class="tabs clearfix mgt15">
        <div class="tabs clearfix mgt15">
            <a href="{:U('Admin/Goodsorder/index')}" class="<eq name="_GET['order_status']" value="">active</eq> tabs_a fl">所有订单({$count})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/0')}" class="<eq name="_GET['order_status']" value="0">active</eq> tabs_a fl">已取消({$count0})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/1')}" class="<eq name="_GET['order_status']" value="1">active</eq> tabs_a fl">待付款({$count1})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/2')}" class="<eq name="_GET['order_status']" value="2">active</eq> tabs_a fl">待发货({$count2})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/3')}" class="<eq name="_GET['order_status']" value="3">active</eq> tabs_a fl">已发货({$count3})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/4')}" class="<eq name="_GET['order_status']" value="4">active</eq> tabs_a fl">已完成({$count4})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/5')}" class="<eq name="_GET['order_status']" value="5">active</eq> tabs_a fl">已关闭({$count5})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/6')}" class="<eq name="_GET['order_status']" value="6">active</eq> tabs_a fl">退款中({$count6})</a>
            <a href="{:U('Admin/Goodsorder/index/order_status/7')}" class="<eq name="_GET['order_status']" value="7">active</eq> tabs_a fl">订单删除({$count7})</a>
    </div>
         <table class="wxtables table-order mgt20">
            <colgroup>
                <col width="50%">
                <col width="16%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <td align="center"><b>商品信息</b></td>
                    <!--td align="center"><b>买家信息</b></td-->
                    <td align="center"><b>订单金额</b></td>
                    <td align="center"><b>支付信息</b></td>
                    <!--td align="center"><b>实际支付</b></td>
                    <td align="center"><b>支付时间</b></td>
                    <td align="center"><b>支付类型</b></td-->
                    <td align="center"><b>订单状态</b></td>
                    <td align="center"><b>操作</b></td>
                </tr>
            </thead>
        </table>
      <table class="wxtables table-order mgt20">
            <colgroup>
                <col width="50%">
                <col width="16%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <volist name="cache" id="vo">
                <thead>
                    <tr>
                        <td colspan="6" class="ftnormal" style="background-color:#F2F8FC;text-align: -webkit-left;">
                            <!-- <input type="checkbox" class="checkbox table-ckbs" data-id="2137327" name="id" value="{$vo.id}"> -->
                            <span>{$vo.order_time|date="Y-m-d H:i:s",###}</span>
                            <span class="mgl15">编号：<b class="noteb">{$vo.order_no}</b></span>
                            <span class="mgl20">买家：<b class="noteb">{$vo.consignee}</b></span>
                            <span class="mgl15">电话：<b class="noteb">{$vo.mobile}</b></span>
                            <!--span class="mgl15">
                                <switch name="vo.order_status">
                                    <case value="0">已取消</case>
                                    <case value="1"><span class="colorRed">待付款</span></case>
                                    <case value="2">待成团</case>
                                    <case value="3">待发货</case>
                                    <case value="4">部分发货</case>
                                    <case value="5">待收货</case>
                                    <case value="6">待评价</case>
                                    <case value="7">已完成</case>
                                    <case value="8">申请退款中</case>
                                    <case value="9">退款完成</case>
                                    <case value="10">拒绝退款</case>
                                    <case value="11">申请售后</case>
                                    <case value="12">退款关闭</case>
                                    <case value="13">前台删除</case>
                                </switch>
                            </span-->
                            <span style="margin-right:4px;float:right;">订单总金额：<b class="noteb">¥{$vo.total_fee}</b></span>
                         </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pd0">
                            <volist name="vo.goods" id="vod">
                                <div class="table-item">
                                    <a href="{:U('/Admin/Goods/addGoods/id')}/{$vod.goods_id}" class="block" target="_blank" title="{$vod.goods_name}">
                                        <div class="table-item-img fl">
                                            <img src="{$vod.goods_pic}">
                                        </div>
                                    </a>
                                    <div class="table-item-info" style="text-align:initial; width:85%">
                                        <p style="height:auto;">{$vod.goods_name}</p>
                                        <p style="height:auto;">{$vod.sku_info}</p>
                                        <span class="price">单价：¥ {$vod.goods_price} - {$vod.goods_integral} 积分</span>&nbsp;&nbsp;&nbsp;
                                        <span class="price">数量：{$vod.goods_nums}</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </volist>
                        </td>
                        <td valign="top" style="padding-top:15px;vertical-align: inherit;">
                            <p class="topp mgl15"><b>总&nbsp;&nbsp;金&nbsp;&nbsp;额：¥ {$vo.total_fee}</b></p>
                            <p class="topp mgl15"><b>商品金额：¥ <if condition="$vo['total_price']">{$vo.total_price}<else />0.00</if></b></p>
                            <p class="topp mgl15"><b>运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：¥ {$vo.express_fee}</b></p>
                            <p class="topp mgl15"><b>积分抵扣：¥ {$vo.use_integral}</b></p>
                        </td>
                        <td valign="middle" align="center" class="txtCenter">
                            <p><b>
                                <switch name="vo.pay_way">
                                    <case value="1">微信支付</case>
                                    <case value="2">支付宝</case>
                                    <case value="3">货到付款</case>
                                </switch>
                            </b></p>
                            <p><b>¥ <if condition="$vo['pay_price']">{$vo.pay_price}<else />0.00</if></b></p>
                            <notempty name="vo['pay_time']">
                            </notempty>
                        </td>
                        <td valign="middle" align="center"  class="txtCenter">
                            <p>
                            <switch name="vo.order_status">
                                <case value="0">已取消</case>
                                <case value="1"><span class="colorRed">待付款</span></case>
                                <case value="2">待发货</case>
                                <case value="3">已发货</case>
                                <case value="4">已完成</case>
                                <case value="5">已关闭</case>
                                <case value="6">退款中</case>
                                <case value="7">订单删除</case>
                            </switch>
                            </p>
                        </td>
                        <td valign="top" style="vertical-align: inherit;">
                            <p>
                                <a href="{:U('Admin/Goodsorder/orderDetail')}/id/{$vo.id}" class="btn btn-mini btn-primary">查看详情</a>
                                <!-- 2是已支付需要发货 -->
                                <?php if($vo['order_status']==2){ ?>
                                    <p><a href="javascript:;" class="J_shipping_order btn btn-mini btn-primary" data-id="{$vo.id}" data-no="{$vo.order_no}">标记发货</a></p>
                                <?php }?>
                                <!--后台取消,去支付订单-->
                                <eq name="vo['order_status']" value="1">
                                    <a href="javascript:;" 
                                        data-id         ="{$vo.id}" 
                                        data-totalfee   ="{$vo.total_fee}" 
                                        data-expressfee ="{$vo.express_fee}" 
                                        data-useintegral="{$vo.use_integral}" 
                                        class="btn btn-mini btn-success a-hteditprice">修改价格</a>
                                    <a href="javascript:;"
                                        data-no="{$vo.order_no}"
                                        data-id="{$vo.id|default=0}"
                                        data-totalfee="{$vo.total_fee|default=0}"
                                        data-totalprice="{$vo.total_price|default=0}"
                                        data-expressfee="{$vo.express_fee|default=0}"
                                        data-useintegral="{$vo.use_integral|default=0}"
                                        class="btn btn-mini btn-warning a-htpay">去&nbsp;&nbsp;付&nbsp;&nbsp;款
                                    </a>
                                    <a href="javascript:;" data-id="{$vo.id}" class="btn btn-mini btn-danger a-htcancel">取消订单</a>
                                </eq>
                                <!--后台取消,去支付订单-->
                                <!--代发货start-->
                                <in name="vo['order_status']" value="3,4">
                                    <a href="javascript:;" 
                                        data-no="{$vo.order_no}" 
                                        data-id="{$vo.id|default=0}" 
                                        data-consignee="{$vo.consignee}" 
                                        data-mobile="{$vo.mobile}" 
                                        data-address="{$vo.province}{$vo.city}{$vo.district}{$vo.address}"
                                        data-issubbag="{$vo.issubbag|default=0}"
                                        class="btn btn-mini btn-success a-htship">发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;货
                                    </a>
                                    <a href="javascript:;" 
                                        data-no="{$vo.order_no}" 
                                        data-id="{$vo.id|default=0}" 
                                        data-zs="{$vo.pay_price|default=0}"
                                        data-zj="{$vo.use_integral|default=0}" 
                                        class="btn btn-mini btn-success a-xstk">线上退款</a>
                                </in>
                                <!--代发货end-->
                                <!--申请退款部分-->
                                <eq name="vo['order_status']" value="8">
                                    <a href="javascript:;" data-no="{$vo.order_no}" data-id="{$vo.id|default=0}" data-zs="{$vo.pay_price|default=0}" data-zj="{$vo.use_integral|default=0}" class="btn btn-mini btn-success a-xstk">线上退款</a>
                                    <a href="javascript:;" data-id="{$vo.id}" class="btn btn-mini btn-warning a-xxtk">线下退款</a>
                                    <a href="javascript:;" data-id="{$vo.id}" class="btn btn-mini btn-danger  a-jjtk">拒绝退款</a>
                                </eq>
                                <!--申请退款部分-->

                            </p>
                        </td>
                    </tr>
                </tbody>
            </volist>
        </table>
        <div class="tables-btmctrl clearfix mgt10">
            <!--div class="fl" style="float:none;">
                <!-- <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a>
                <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a> -->
                <!-- <a href="javascript:void(0)" onclick="del()" class="btn btn-danger J_batch_del">删除订单</a> -->
            <!--/div-->
            <div class="pages" style="float:none;width:100%;text-align:center;padding-top:10px;margin-left:0px;">
             {$page}
            </div>
                <!-- end paginate -->
        </div>        <!-- end tables-btmctrl -->
    <form action="" method="post" id="ids">
        <input type="hidden" name="ids" value="">
    </form>
</div>
<!-- end content-right -->
</div>
</div>
<!-- end container -->
<include file="Public:foot"/>
<div id="albums-overlay" class="disshow"></div>
<!--后台付款-->
<div class="jbox achtpay disshow quxiao">
    <div class="jbox-title" style="line-height: 21px;">
        <div class="jbox-title-txt">后台人工结算<br/>(支付的总额不能大于订单的总额)<br/>(总额=订单总额+订单总积分)</div>
        <a href="javascript:;" class="jbox-close cancle"></a>
    </div>
    <div class="jbox-container">
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>订单编号：</label>
            <div class="form-controls"><span class="fi-help-text" id="porderno"></span> </div>
        </div>
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>商品总金额：</label>
            <div class="form-controls"><span class="fi-help-text" id="ptotalprice"></span> </div>
        </div>
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>商品总运费：</label>
            <div class="form-controls"><span class="fi-help-text" id="pexpressfee"></span> </div>
        </div>
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>订单总金额：</label>
            <div class="form-controls"><span class="fi-help-text" id="ptotalfee"></span> </div>
        </div>
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>支付金额：</label>
            <div class="form-controls">
                <input type="text" value=""  class="input" name="ppayprice">
                <span class="fi-help-text"></span> </div>
        </div>
        <div class="jbox-buttons" style="text-align:center;">
            <a href="javascript:;" class="jbox-buttons-ok btn cancle">取消</a>
            <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="ac-htpay">支付</a>
        </div>
    </div>
</div>
<!--发货部分-->
<div class="jbox acfahuo disshow quxiao" style="min-height:300px;width:500px" id="updatewuliu">
  <div class="jbox-title">
    <div class="jbox-title-txt">订单发货</div>
    <a href="javascript:;" class="jbox-close cancle"></a></div>
  <div class="jbox-container">
    <div class="formitems">
        <label class="fi-name"><span class="colorRed"></span>订单号：</label>
        <div class="form-controls" id="a-fhorderno"></div>
    </div>
    <div class="formitems">
        <label class="fi-name"><span class="colorRed"></span>收货人：</label>
        <div class="form-controls" id="a-fhconsignee"></div>
    </div>
    <div class="formitems">
        <label class="fi-name"><span class="colorRed"></span>联系电话：</label>
        <div class="form-controls" id="a-fhmobile"></div>
    </div>
    <div class="formitems">
        <label class="fi-name"><span class="colorRed"></span>收货地址：</label>
        <div class="form-controls" id="a-fhaddress"></div>
    </div>
    <div class="formitems">
        <label class="fi-name"><span class="colorRed"></span>快递公司：</label>
        <div class="form-controls">
            <input type="text" class="input" name="search_company" value="" placeholder="请输入公司名字">
            <button class="btn btn-primary search_company" title="搜索"><i class="gicon-search white"></i></button>
        </div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed">*</span>快递公司：</label>
      <div class="form-controls">
        <select name="express_name" class="select">
            <option value="">请选择快递公司</option>
            <foreach name="express_list" item="vo">
                <option value="{$vo.express_ma}">{$vo.express_company}</option>
            </foreach>
        </select>
        <span class="fi-help-text"></span> </div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed">*</span>快递单号：</label>
      <div class="form-controls">
        <input type="text" class="input describe1" name="express_no" value="{$cache.express_no}">
        <input type="hidden" name="order_id" value="{$cache.id}">
        <span class="fi-help-text"></span> </div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed">*</span>发货类型：</label>
      <div class="form-controls" id="fhtype">
         <input type="radio" name="fh_type" value="0" checked onchange="xiugaiFhType(0)"/> 按订单发货
         <input type="radio" name="fh_type" value="1" onchange="xiugaiFhType(1)"/> 商品分包裹发货
        <span class="fi-help-text"></span> 
      </div>
    </div>

    <div class="formitems" id="thisgoods" style="display:none;">
      <label class="fi-name"><span class="colorRed">*</span>发货商品：</label>
      <div class="form-controls" id="goodslist">
         <br/><input type="checkbox" name="goodsid" value="0" /> <img src="/Public/Public/images/logo.png" width='30' height='30'> 按订单发货
      </div>
    </div>

    <div class="jbox-buttons" style="text-align:center;"> 
      <a href="javascript:;" class="jbox-buttons-ok btn cancle">取消</a> 
      <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="fahuo">发货</a> 
    </div>
  </div>
</div>
<!-- //退款 -->
<div class="jbox tuikuan disshow quxiao" style="height:auto;">
    <div class="jbox-title">
        <div class="jbox-title-txt">退款信息</div>
        <a href="javascript:;" class="jbox-close cancle"></a>
    </div>
    <div class="jbox-container">
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>订单编号：</label>
            <div class="form-controls"><span class="fi-help-text" id="oorderno"></span> </div>
        </div>
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>支付金额：</label>
            <div class="form-controls"><span class="fi-help-text" id="ojine"></span> </div>
        </div>
        <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>退款金额：</label>
            <div class="form-controls">
                <input type="text" value=""  class="input" name="refund_fee" style="border:none;">
                <span class="fi-help-text"></span> </div>
        </div>
        <div class="jbox-buttons" style="text-align:center;">
            <a href="javascript:;" class="jbox-buttons-ok btn cancle">取消</a>
            <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="ac-tuikuan">退款</a>
        </div>
    </div>
</div>
<div class="jbox achtchangeprice disshow quxiao">
    <div class="jbox-title">
        <div class="jbox-title-txt">修改订单商品的价格</div>
        <a href="javascript:;" class="jbox-close cancle"></a>
    </div>
    <div class="jbox-container">
        <div class="formitems" style="max-height:300px;overflow-y:auto;">
            <table class="wxtables table-order mgt20" style="table-layout:fixed">
                <thead>
                    <tr>
                        <td>商品名称</td>
                        <td>单价</td>
                        <td>数量</td>
                        <td>小计</td>
                    </tr>
                </thead>
                <tbody id="goodslists">
                    <tr>
                        <td>高山新鲜酸爽香甜百香果A级大果5斤 营养丰富 送神器</td>
                        <td><input type="number" class="epchange input mini" id="" value="0.00" name=""></td>
                        <td><input type="number" class="epchange input mini" id="" value="0.00" name=""></td>
                        <td><input type="number" class="epchange input mini" id="" value="0.00" name=""></td>
                        <td>42.66</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan=""><strong>运费</strong></td>
                        <td rowspan="" colspan="">
                            <input type="number" class="input mini" id="expressfee" value="0.00">
                        </td>
                        <td colspan=""><strong>应收款</strong></td>
                        <td colspan=""><input type="number" class="input mini" id="totalfee" value="0.00"></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="color:red">价格和应收款不能小于0元,数量不能小于1,积分和运费最小可为0</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="jbox-buttons" style="text-align:center;">
            <a href="javascript:;" class="jbox-buttons-ok btn cancle">取消</a>
            <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="ac-htchangeprice">确定</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery-form.js"></script>
<script type="text/javascript" src="__LHG__/lhgcalendar.min.js"></script>
<script type="text/javascript">
$(function(){
    $('#starttime').calendar({ disDate:['^19'],maxDate:'#endtime',format:'yyyy-MM-dd 00:00:00'});
    $('#endtime').calendar({ disDate:['^19'],minDate:'#starttime',format:'yyyy-MM-dd 23:59:59' });
});
</script>
<!--gonggao-->
<script>
$("#search-form input[name=telephone]").change(function(){
    var tele = $("#search-form input[name=telephone]").val();
    if(tele){
        var newhref = "/Admin/Order/orderExport/telephone/".tele;
        $("#dynamichref").attr('href',newhref);
    }
})
$(".daochu").click(function(){
    $.ajax({
        url:"{:U('Admin/Order/orderExport')}",
        type:'post',
        datatype : 'json',
        success:function(data){
            if(data.status==1){
                alert(data.info);
                location.href="{:U('Admin/Order/index')}";
            }else{
                alert(data.info);
            }
        }
    });
})
</script>
<script>
function ordertotal(useintegral,expressfee,totalfee){
    $(".achtchangeprice #useintegral").val(useintegral);
    $(".achtchangeprice #expressfee").val(expressfee);
    $(".achtchangeprice #totalfee").val(totalfee);
}
var goodslistsdata = new Array();
function makePriceChange(){
    var i=totalprice=totalintegral=pricestatus=integralstatus=numstatus=0;
    var goodslists  = new Array();
    $("#goodslists tr").each(function(){
        var _tdpoint     = $(this).children("td");
        var ordergoodsid = parseInt(_tdpoint.eq(0).attr("data-ordergoodsid"));
        var price        = parseFloat($("#goodslists #price_"+ordergoodsid).val());
        var integral     = parseFloat($("#goodslists #integral_"+ordergoodsid).val());
        var num          = parseFloat($("#goodslists #num_"+ordergoodsid).val());
        if(price>0){
            if(integral < 0){
                integralstatus=1;
                return false;
            }else{
                var total        = integral * num;
                totalintegral    = totalintegral+total;
            }
            if(num>0){
                var total        = price * num;
                totalprice       = totalprice + total;
                $("#goodslists #total_"+ordergoodsid).text(total);
                goodslists[i] = {ordergoodsid:ordergoodsid,price:price,num:num};
            }else{
                numstatus=1;
                return false;
            }
        }else{
            pricestatus=1;
            return false;
        }
        i++;
    });
    if(pricestatus){
        dialog.showTips('请填写商品价格',"warn");return false;
    }
    if(integralstatus){
        dialog.showTips('积分必须是0(包含0)以上的数',"warn");return false;
    }
    if(numstatus){
        dialog.showTips('请填写商品数量',"warn");return false;
    }
    var expressfee  = parseFloat($(".achtchangeprice #expressfee").val());
    totalprice      = totalprice+expressfee;
    ordertotal(totalintegral.toFixed(2),expressfee,totalprice.toFixed(2));
    goodslistsdata  = {goods:goodslists,totalprice:totalprice.toFixed(2),totalintegral:totalintegral.toFixed(2)};
    return goodslistsdata;
}

    var orderid = totalfee = expressfee = useintegral =0;
    $(".a-hteditprice").click(function(){
        orderid     = parseInt($(this).attr("data-id"));
        totalfee    = parseFloat($(this).attr('data-totalfee'));                    //待支付金额
        expressfee  = parseFloat($(this).attr('data-expressfee'));                  //总的运费
        useintegral = parseFloat($(this).attr('data-useintegral'));                 //商品总抵扣积分
        if(!orderid){
            dialog.showTips('订单ID找不到了',"warn");return false;
        }
        $.post("{:U('Admin/Goodsorder/editOrderGoodsPrice')}",{action:'goodslists',orderid:orderid},function(g){
            if(g.status !=1){
                dialog.showTips(g.info,"warn");return false;
            }
            var html  = '';
            var lists = g.info;
            $.each(lists,function(k,val){
                html +='<tr>'
                html +='<td data-ordergoodsid='+parseInt(val.ordergoodsid)+'>'+val.goods_name+'<br/>'+val.sku_info+'</td>';
                html +='<td><input type="number" class="epchange input mini" id="price_'+parseInt(val.ordergoodsid)+'" value="'+parseFloat(val.goods_price)+'"></td>';
                html +='<td><input type="number" class="epchange input mini" id="num_'+parseInt(val.ordergoodsid)+'" value="'+val.goods_nums+'"></td>';
                html +='<td id="total_'+parseInt(val.ordergoodsid)+'">'+parseFloat(val.goods_price) * parseInt(val.goods_nums)+'</td>';
                html +='</tr>';
            });
            $("#goodslists").html(html);
            ordertotal(useintegral,expressfee,totalfee);
            $('#albums-overlay').show();
            $('.achtchangeprice').show();
            $(".achtchangeprice #goodslists .epchange").bind("input propertychange", function(){
                makePriceChange();
            });
        },'json');
    });
    $(".achtchangeprice #ac-htchangeprice").click(function(){
        var goodslists  = makePriceChange();
        var expressfee  = parseFloat($(".achtchangeprice #expressfee").val());
        var totalfee    = parseFloat($(".achtchangeprice #totalfee").val());
        if(!goodslists){
            return false;
        }

        if(expressfee<0){
            dialog.showTips('快递费不能为负数',"warn");return false;
        }
        if(totalfee<0){
            dialog.showTips('因收款不能为负数',"warn");return false;
        }
        var data={action:'changegoods',orderid:orderid,goods:goodslists,expressfee:expressfee,totalfee:totalfee};
        $.post("{:U('Admin/Goodsorder/editOrderGoodsPrice')}",data,function(g){
            if(g.status ==1){
                dialog.showTips(g.info,"",1);return false;
            }else{
                dialog.showTips(g.info,"warn");return false;
            }
        },'json');
    });
    $(".achtchangeprice #expressfee").change(function(){
        var expressfee = parseFloat($(this).val());
        if(expressfee < 0){
            dialog.showTips('运费不能为负数', "warn"); return false;
        }
        var useintegral = parseFloat($(".achtchangeprice #useintegral").val());
        makePriceChange();
    });
    $(".achtchangeprice #goodslists .epchange").bind("input propertychange", function(){
        makePriceChange();
    });
    $(".achtchangeprice #totalfee").change(function(){
        var val = $(this).val();
        if(val <0.01){
            dialog.showTips('应付款必须大于0', "warn"); return false;
        }
    });

</script>
<!--修改分类-->
<script type="text/javascript">
$(".cancle").click(function(){
    $(this).parent().parent('.jbox').hide();
    $('#albums-overlay').hide();
    $(".quxiao").hide();
})
var id ='';
$(".j-editClass").click(function(){
    id = $(this).attr("data-id");
    $('.editfenlei').show();
    $('#albums-overlay').show();
});
var  orderno = orderid = totalfee = totalprice = expressfee = useintegral = 0;
$(".a-htpay").click(function(){
    orderno     = $.trim($(this).attr('data-no'));                              //订单号
    orderid     = parseInt($(this).attr('data-id'));                            //订单id
    totalfee    = parseFloat($(this).attr('data-totalfee'));                    //待支付金额
    totalprice  = parseFloat($(this).attr('data-totalprice'));                  //商品总金额
    expressfee  = parseFloat($(this).attr('data-expressfee'));                  //总的运费

    $('.achtpay #porderno').text(orderno);
    $('.achtpay #ptotalprice').text(totalprice);
    $('.achtpay #pexpressfee').text(expressfee);
    $('.achtpay #ptotalfee').text(totalfee);
    $(".achtpay input[name=ppayprice]").val(totalfee);
    /*if(!useintegral){
        $("#pouseintegralid").hide();
        $("#puseintegralid").hide();
    }*/
    $('#albums-overlay').show();
    $('.achtpay').show();
});
function xiugaiFhType(obj){
    if(obj == 0){
        $('#thisgoods').hide();
    }else{
        $('#thisgoods').show();
    }
}
var orderid = issubbag = 0;
$(".a-htship").click(function(){
    var orderno     = $.trim($(this).attr('data-no'));                          //订单号
    orderid         = parseInt($(this).attr('data-id'));                        //订单id
    var consignee   = $.trim($(this).attr('data-consignee'));                   //待支付金额
    var mobile      = parseInt($(this).attr('data-mobile'));                    //商品总金额
    var address     = $.trim($(this).attr('data-address'));                     //总的运费
    issubbag        = parseInt($(this).attr('data-issubbag'));                  //商品总抵扣积分
    $(".acfahuo #a-fhorderno").text(orderno);
    $(".acfahuo #a-fhconsignee").text(consignee);
    $(".acfahuo #a-fhmobile").text(mobile);
    $(".acfahuo #a-fhaddress").text(address);
    if(issubbag == 1){
        $(".acfahuo #thisgoods").show();
        var ppp = '';
        ppp = "<input type='radio' disabled name='fh_type' value='0'/> 按订单发货<input type='radio' name='fh_type' readonly value='1' checked/> 商品分包裹发货";
        $(".acfahuo #fhtype").html(ppp);
    }
    var data = {orderid: orderid};
    $.ajax({
        url: "{:U('Admin/goodsorder/goodslist')}",
        type: "post",
        dataType: "json",
        data: data,
    }).done(function (g) {
    if(g.status == 1) {
        var goods = g.info;
        var html = '';
        for (var i = 0; i < goods.length; i++) {
            html += "<br/><input type='checkbox' name='goodsid' value='"+goods[i].goodsid+"' /> <img src='"+goods[i].goodsimg+"' width='30' height='30'>"+goods[i].goodsname;
        };
        $(".acfahuo #goodslist").html(html);
        $("#albums-overlay").show();
        $("#updatewuliu").show();
    } else {
        alert(g.info);
        return false;
    }
  })
})
/***快递公司搜索S***/
$(".acfahuo .search_company").click(function(){
    var category = $.trim($(".acfahuo input[name='search_company']").val());
    if(category){
        var stat = true;
        $(".acfahuo select[name=express_name] option").each(function(){
            var txt = $.trim($(this).text());
            if(txt.indexOf(category) !=-1){
                $(this).attr("selected","selected");
                stat=false;
                return false;
            }
        });
        if(stat){
            dialog.showTips('没有找到相关快递公司','warn');
        }
    }else{
        dialog.showTips('请输入快递公司名称','warn');
    }
});
/***快递公司搜索S***/
$("#fahuo").click(function(){
    var express_name = $.trim($("#updatewuliu select[name=express_name]").find("option:selected").text());
    var express_ma   = $.trim($("#updatewuliu select[name=express_name]").val());
    var express_no   = $.trim($("#updatewuliu input[name=express_no]").val());
    var fh_type      = $("input[name='fh_type']:checked").val();
    if(!express_ma){
        alert("请选择快递公司");return false;
    }
    if(!express_no){
        alert("请填写快递单号！");return false;
    }
    if(fh_type == 1){
        var goodslist = '';
        $("input[name='goodsid']:checked").each(function(){
            goodslist += $(this).val() + ',';
        })
        goodslist = goodslist.substring(0,goodslist.length-1);
        if(!goodslist){
            alert("请选择发货商品！");return false;
        }
    }
    var data = {orderid: orderid,express_ma:express_ma,express_name:express_name,express_no:express_no,fh_type:fh_type,goodslist:goodslist};
    $.ajax({
        url: "{:U('Admin/goodsorder/express')}",
        type: "post",
        dataType: "json",
        data: data,
    }).done(function (g) {
        if (g.status == 1) {
            dialog.showTips(g.info, "",1);
        } else {
            alert(g.info);
        }
    })
})
$("#ac-htpay").click(function(){
    if(confirm('确定要执行后台支付吗?')){
        var ppayprice   = parseFloat($(".achtpay input[name=ppayprice]").val());
        if(ppayprice){
            $ptotal = ppayprice;
            $total  = totalfee + useintegral;
            if($ptotal > $total){
                dialog.showTips('支付的总额不能大于订单的总额',"warn");return false;
            }
        }else{
            dialog.showTips('请填写支付金额',"warn");return false;
        }
        var data = {orderid:orderid,payprice:ppayprice};
        $.ajax({
            url:"{:U('/Admin/Goodsorder/orderPay')}",
            type:'post',
            data :data,
            datatype : 'json',
            success:function(g){
                if(g.status ==1){
                    dialog.showTips(g.info,"",1);
                }else{
                    dialog.showTips(g.info,"warn");
                }
            }
        });
    }
});
$(".a-htcancel").click(function(){
    //后台取消订单
    var id = parseInt($(this).attr('data-id'));
    if(confirm('确认取消订单吗,此操作不可逆哦?')){
        var data = {orderid:id};
        $.ajax({
            url:"{:U('/Admin/Goodsorder/orderCancel')}",
            type:'post',
            data :data,
            datatype : 'json',
            success:function(g){
                if(g.status ==1){
                    dialog.showTips(g.info,"",1);
                }else{
                    dialog.showTips(g.info,"warn");
                }
            }
        });
    }
});
$(".a-xxtk").click(function(){
    //线下退款
    var id = parseInt($(this).attr('data-id'));
    if(confirm('确认线下退款吗')){
        var data = {action:'offlinerefund',orderid:id};
        $.ajax({
            url:"{:U('/Admin/Goodsorder/offlineRefund')}",
            type:'post',
            data :data,
            datatype : 'json',
            success:function(g){
                if(g.status ==1){
                   dialog.showTips(g.info,"",1);
                }else{
                    dialog.showTips(g.info,"warn");
                }
            }
        });
    }
});
$(".a-jjtk").click(function(){
    //拒绝退款
    var id = parseInt($(this).attr('data-id'));
    if(confirm('确认拒绝退款吗')){
        var data = {action:'refuse',orderid:id};
        $.ajax({
            url:"{:U('/Admin/Goodsorder/dereturn')}",
            type:'post',
            data :data,
            datatype : 'json',
            success:function(g){
                if(g.status ==1){
                    dialog.showTips(g.info,"",1);
                }else{
                    dialog.showTips(g.info,"warn");
                }
            }
        });
    }
});
//订单号,订单id,支付的金额,支付的积分,支付的方式
var orderno = orderid = paym = payj = 0;
$(".a-xstk").click(function(){
 //data-no="{$vo.order_no}" data-id="{$vo.id}" data-zs="{$vo.pay_price}" data-zj="{$vo.use_integral}" data-zf="{$vo.pay_way}"
    orderno = $.trim($(this).attr('data-no'));
    orderid = parseInt($(this).attr('data-id'));
    paym    = parseFloat($(this).attr('data-zs'));
    payj    = parseFloat($(this).attr('data-zj'));
    
    $('#oorderno').text(orderno);
    $('#ojine').text(paym);
    $('#ojifen').text(payj);
    $(".tuikuan input[name=refund_fee]").val(paym)
    $(".tuikuan input[name=refund_fee]").attr("readonly","readonly")
    $(".tuikuan input[name=refund_jifen]").val(payj)
    if(!payj){
        //$(".tuikuan input[name=refund_jifen]").attr("readonly","readonly")
        $("#oojifen").hide();
    }
    $('#albums-overlay').show();
    $('.tuikuan').show();
});
$("#ac-tuikuan").click(function(){
    var rfee    = parseFloat($(".tuikuan input[name=refund_fee]").val());
    var rjifen  = parseFloat($(".tuikuan input[name=refund_jifen]").val());
    
    if(!rfee){
        dialog.showTips('请填写退款金额',"warn"); return false;
    }
    if(rfee > paym){
        dialog.showTips('退款金额不能大于支付金额',"warn"); return false;
    }
    if(rjifen){
        if(rjifen > payj){
            dialog.showTips('退款积分不能大于支付积分',"warn"); return false;
        }
    }else{
        rjifen = 0;
    }
    //订单id,退款金额,退款积分
    var data ={orderid:orderid,rfee:rfee,rjifen:rjifen};
    $.ajax({
        url:"{:U('/Admin/Goodsorder/orderRefund')}",
        type:'post',
        data :data,
        datatype : 'json',
        success:function(g){
            if(g.status ==1){
                dialog.showTips(g.info,"",1);
            }else{
                dialog.showTips(g.info,"warn");
            }
        }
    });
});
//确认收货
$(".j-shouhuo").click(function(){
    var order_no  = $(this).attr('data-order-no');
    
    var data ={order_no:order_no}
    //return false;
    $.ajax({
        url:"{:U('/Admin/Goodsorder/receiveOrder')}",
        type:'post',
        data :data,
        datatype : 'json',
        success:function(g){
            if(g.status==1){
                alert(g.info);  
                window.location.reload();
                return false;
            }else{
                alert(g.info);  return false;
            }
        }
    });
});
//订单导出
$(function(){
    $("#orderexport").click(function(){
        var order_status = "{$order_status}" ? "{$order_status}" : 'all';
        var url       = "{:U('Admin/Goodsorder/Export')}";
        //组装表单信息
        var title     = $.trim($("#search-form .newinput").val());
        var starttime = $.trim($('#starttime').val());
        var endtime   = $.trim($('#endtime').val());
        url = url+'?status='+order_status;
        if(title){
            url = url+'&title='+title;
        }
        if(starttime){
            if(endtime){
                url = url+'&starttime='+starttime+'&endtime='+endtime;
            }else{
                dialog.showTips('请选择结束时间',"warn");
            }
        }
        window.open(url);
    });
});
</script>