<include file='Public:header'/>
<body>
<include file='Public:top'/>

<div class="warpper">
    <div class="back_bg">
        <div class="container">
            <div class="about clearfix">

                <div class="about_left">
                    <div class="pro_con">
                        <include file='Public:service'/>
                    </div>
                </div>

                <div class="about_right">

                    <div class="brand">
                        <h5>售后服务</h5>
                        <div class="servisce">
                            <h4>1.预约上门服务</h4>
                            <p>拨打德意电器全国统一服务热线：95105898，官网/微信公众号 登记预约服务信息，登记地址、姓名、电话、服务需求等</p>

                            <h4>2.用电、漏气检测</h4>
                            <p>工程师检查电源插座、煤气阀，是否存在漏电、漏气现象</p>
                            <h4>3.产品安装</h4>
                            <p>安装需求沟通；产品安装作业</p>
                            <h4>4.产品调试及指导</h4>
                            <p>对产品各项功能进行试机、调试</p>
                            <h4>5.现场清洁</h4>
                            <p>对安装产品外观及现场进行清洁</p>
                            <h4>6.无忧通检</h4>
                            <p>为您家里的其它电器进行电、气性能检测</p>
                            <h4>7.服务评价</h4>
                            <h4>8.客服回访</h4>
                            <h4>9.服务完成</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <include file='Public:footer'/>
    <include file='Public:menu_right'/>
</div>

</body>
<script language="javascript" src="__JS__/afterSales.js"></script>

</html>
