<include file='Public:header'/>
<body>
<include file='Public:top'/>

	<div class="warpper">
		<div class="back_bg">
			<div class="container">
				<div class="about  about_y clearfix">


					<div class="about_right1">

						<img src="__ROOT__{$propic.pic}" width="100%">

					</div>
					<div class="about_right about_right2">

						<div class="brand">
							<h5><img src="__IMAGES__/se2_2.png" width="25">配送方式</h5>
							{$psfs.content}

						</div>

					</div>

					<div class="about_right about_right2">
						<div class="brand">
							<h5><img src="__IMAGES__/se1_1.png" width="25">安装流程</h5>
							<div class="servisce">
								{$azlc.content}
								<!--<h4>8. 客服回访</h4>-->
								<!--<h4>9.服务完成</h4>-->
							</div>
						</div>
					</div>
					<div class="about_right about_right2">
						<div class="brand">
							<h5><img src="__IMAGES__/se3.png" width="25">售后服务</h5>
							<div class="servisce">
								{$shfw.content}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <include file='Public:footer'/>
    <include file='Public:menu_right'/>

</body>

<script>

//	$( ".swiper1" ).height( 600 )

$( document ).ready( function()
{

	var hei = $( ".meal_img" ).width() + 75;

	$( ".div_img" ).height( (hei - 15) / 2 - 75 )

} )
$( window ).resize( function()
{

	//      $( ".swiper1" ).height( 600 )

} )
$( window ).scroll( function()
{

} )

</script>

<script>

//$( ".nav_ti" ).hover( function()
//		{
//			$( ".banner_nav" ).slideDown()
//
//		}
//		, function()
//		{
//			$( ".banner_nav" ).slideUp()
//
//		} )

</script>

</html>
