<include file='Public:header'/>
<body>
<include file='Public:top'/>

<div class="warpper">
    <div class="back_bg">
        <div class="container">
            <div class="avtivity">
                <img src="__HOST__{$activity_index_config}" width="100%">

                <div class="tabulation cuxiao">
                    <div class="line1"></div>




                    <span class="tehui">

							<i class="san1"></i>
							<i class="san"></i><span class="icon_sapn"></span>活动列表</span>

                </div>


                <div class="act_list clearfix">

                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#">
                                <div class="list_one">

                                    <div class="list_one_img">
                                        <img src="__IMAGES__/avt1.jpg" width="100%">
                                        <div class="list_img_bg"></div>

                                        <div class="jiahao">
                                            <img src="__IMAGES__/bp_plus.png" width="63">
                                        </div>

                                        <div class="more_re">
                                            MORE <span></span>
                                        </div>

                                        <div class="list_news">
                                            NEWS
                                        </div>

                                        <div class="list_news1 ">
                                            8折
                                        </div>
                                    </div>

                                    <div class="list_txt clearfix">

                                        <span class="xilie">满1000减50</span>
                                        <div class="huodo">
                                            <h5><em>1429</em>件已付款</h5>
                                            <p>
                                                仅剩10小时
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6">
                            <a href="#">
                                <div class="list_one">

                                    <div class="list_one_img">
                                        <img src="__IMAGES__/avt2.jpg" width="100%">
                                        <div class="list_img_bg"></div>

                                        <div class="jiahao">
                                            <img src="__IMAGES__/bp_plus.png" width="63">
                                        </div>

                                        <div class="more_re">
                                            MORE <span></span>
                                        </div>

                                        <div class="list_news">
                                            NEWS
                                        </div>

                                        <div class="list_news1">
                                            8折
                                        </div>
                                    </div>

                                    <div class="list_txt clearfix">

                                        <span class="xilie">满1000减50</span>
                                        <div class="huodo">
                                            <h5><em>1429</em>件已付款</h5>
                                            <p>
                                                仅剩10小时
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <div class="list_one">
                                    <div class="list_one_img">
                                        <img src="__IMAGES__/avt3.jpg" width="100%">
                                        <div class="list_img_bg"></div>

                                        <div class="jiahao">
                                            <img src="__IMAGES__/bp_plus.png" width="63">
                                        </div>


                                        <div class="list_news1 list_news_2">
                                            7折
                                        </div>
                                        <div class="more_re">
                                            MORE <span></span>
                                        </div>
                                    </div>

                                    <div class="list_txt clearfix">

                                        <span class="xilie">满1000减50</span>
                                        <div class="huodo">
                                            <h5><em>1429</em>件已付款</h5>
                                            <p>
                                                仅剩10小时
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <div class="list_one">
                                    <div class="list_one_img">
                                        <img src="__IMAGES__/avt4.jpg" width="100%">
                                        <div class="list_img_bg"></div>

                                        <div class="jiahao">
                                            <img src="__IMAGES__/bp_plus.png" width="63">
                                        </div>
                                        <div class="list_news1 list_news_2">
                                            7折
                                        </div>
                                        <div class="more_re">
                                            MORE <span></span>
                                        </div>
                                    </div>

                                    <div class="list_txt clearfix">

                                        <span class="xilie">满1000减50</span>
                                        <div class="huodo">
                                            <h5><em>1429</em>件已付款</h5>
                                            <p>
                                                仅剩10小时
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>





                </div>
                <div class="page clearfix">


                </div>
            </div>
        </div>
    </div>
    <include file='Public:footer'/>
    <include file='Public:menu_right'/>
</div>

</body>

<script>

    //	$( ".swiper1" ).height( 600 )

    $( document ).ready( function()
    {

        var hei = $( ".meal_img" ).width() + 75;

        $( ".div_img" ).height( (hei - 15) / 2 - 75 )

    } )
    $( window ).resize( function()
    {

        //      $( ".swiper1" ).height( 600 )

    } )
    $( window ).scroll( function()
    {

    } )

</script>

<script>

    //$( ".nav_ti" ).hover( function()
    //		{
    //			$( ".banner_nav" ).slideDown()
    //
    //		}
    //		, function()
    //		{
    //			$( ".banner_nav" ).slideUp()
    //
    //		} )

</script>

</html>
