<div class="footer">{$shop_seo_config.copyright} , Inc. All rights reserved.</div>
<div class="fixedBar" style="left: 1321px; height: 285px; top: 76px; margin-top: 0px;"></div>
<a href="#" id="j-gotop" class="gotop" title="回到顶部" style="left: 1322.5px;"></a>
<script src="__JS__/lib-min.js"></script>
<script src="__JS__/jquery.jbox-min.js"></script>
<!-- 线上环境 -->
<script src="__JS__/component-min.js"></script>
<script src="__JS__/scroll.js"></script>
<script src="__JS__/echarts.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/admincommon.js"></script><!--自定义的js-->
</body>
</html>