<include file='Public:header'/>
<body>
<include file='Public:top'/>
<style>
    a:target{
        padding-top: 200px;
    }
</style>
<div class="warpper">
    <div class="back_bg">
        <div class="container">
            <div class="about_new">
                <a id="about_1" >
                    <div class="about_new_a">
                    <div class="row clm10">
                        <div class="col-sm-5 clp10">
                            <div class="about_new_a_list about_new_a_list_mh">
                                <h5>关于我们</h5>
                                {$gywm.content}
                            </div>
                        </div>
                        <div class="col-sm-5 clp10">
                            <div class="about_new_a_list" style="height: 545px;">
                                <img src="__ROOT__{$gywm.pic}" width="100%">
                                {$gywm.content1}
                            </div>
                        </div>
                        <div class="col-sm-2 clp10">
                            <div class="about_new_a_list" style="height: 545px;">
                                {$gywm.resource}
                                <span><b></b> 品质厨电 乐享生活</span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>

                <a id="about_2" >
                    <div class="about_new_b">
                    <div class="row clm10">
                        <div class="col-sm-6 clp10">
                            <div class="about_new_b1">
                                <h5>服务流程</h5>
                                <img src="__ROOT__{$fwlc.pic}" width="100%">
                            </div>
                        </div>
                        <div class="col-sm-6 clp10">
                            <div class="about_new_b2" style="height: 513.396px;">
                                <h5>在线帮助</h5>

                                <img src="__ROOT__{$zxbz.pic}" width="40%">

                                <div class="help_txt1">

                                    <h4>我们上班时间是周一至周五<span>08:00-17:00</span>,其余时间请留言</h4>

                                    <a href="tencent://message/?uin=554172867&amp;Site=sc.chinaz.com&amp;Menu=yes"><img src="__IMAGES__/qq.png" width="34">

                                        <span>德意电器客服1</span>
                                    </a>

                                    <a href="tencent://message/?uin=554172867&amp;Site=sc.chinaz.com&amp;Menu=yes"><img src="__IMAGES__/qq.png" width="34">

                                        <span>德意电器客服2</span>
                                    </a>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                </a>

                <a id="about_3" >
                    <div class="about_new_c">
                    <div class="row clm10">
                        <div class="col-sm-5 clp10">
                            <div class="about_new_c_list about_new_c_list_mh">
                                <h5>常见问题</h5>                            
                                {$cjwt.content}
                            </div>
                        </div>
                        <div class="col-sm-5 clp10">
                            <div class="about_new_c_list" style="height: 596px;">
                                {$cjwt.content1}
                            </div>
                        </div>
                        <div class="col-sm-2 clp10">
                            <div class="about_new_c_list about_new_c_listbg" style="background-image:url(__ROOT__{$cjwt.pic});height: 596px;">

                            </div>
                        </div>
                    </div>
                </div>
                </a>

            </div>

        </div>

    </div>
</div>

<include file='Public:footer'/>
<include file='Public:menu_right'/>


