<include file='Public:header'/>
<body  style="min-width:1024px">
<include file='Public:top'/>

<div class="user">
    <div class="container">

        <div class="row">
            <include file="Public:ucenterLeft" />
            <div class="col-sm-10">
                <div class="user_right" style="border:none;">
                    <div class="user_r">
                        <div class="user_r6">
                            <div class="data_bottom ">
                                <div class="bd_shji">

                                    <h1>更换手机号</h1>

                                    <div class="bd_shji_con bd_shji_1">
                                        <div class="bdphone_box_g">
                                            <div class="bd_img_box">
                                                <img src="__IMAGES__/gegai_img1.png" width="368" style="display:block">

                                                <p class="pq1">1<span>身份验证</span></p>
                                                <p class="pq2">2<span>更换新的手机号码</span></p>
                                                <p class="pq3">3<span>完成</span></p>
                                            </div>
                                        </div>

                                        <div class="phone_yanz">
                                            <h4>已绑定的手机：132****7963</h4>
                                            <div class="yanz_box">
                                                <input name="" type="text" onfocus="if(this.value=='请输入验证码') {this.value='';}this.style.color='#999';" onblur="if(this.value=='') {this.value='请输入验证码';this.style.color='#ccc';}" value="请输入验证码"><span>获取验证码</span>
                                            </div>

                                        </div>

                                        <div class="pho_next_btn">
                                            <a href="">下一步</a>
                                        </div>
                                    </div>

                                    <div class="bd_shji_con bd_shji_2">
                                        <div class="bdphone_box_g">
                                            <div class="bd_img_box">
                                                <img src="__IMAGES__/gegai_img2.png" width="368" style="display:block">

                                                <p class="pq1">1<span>身份验证</span></p>
                                                <p class="pq2" style="color:#fff;">2<span>更换新的手机号码</span></p>
                                                <p class="pq3">3<span>完成</span></p>
                                            </div>
                                        </div>

                                        <div class="phone_yanz">
                                            <div class="shouji_shu">
                                                <input name="" type="text" onfocus="if(this.value=='请输入手机号码') {this.value='';}this.style.color='#999';" onblur="if(this.value=='') {this.value='请输入手机号码';this.style.color='#ccc';}" value="请输入手机号码">
                                            </div>
                                            <div class="yanz_box">
                                                <input name="" type="text" onfocus="if(this.value=='请输入验证码') {this.value='';}this.style.color='#999';" onblur="if(this.value=='') {this.value='请输入验证码';this.style.color='#ccc';}" value="请输入验证码"><span>获取验证码</span>
                                            </div>

                                        </div>

                                        <div class="pho_next_btn">
                                            <a href="##">提交</a>
                                        </div>
                                    </div>

                                    <div class="bd_shji_con bd_shji_3">
                                        <div class="bdphone_box_g">
                                            <div class="bd_img_box">
                                                <img src="__IMAGES__/gegai_img3.png" width="368" style="display:block">

                                                <p class="pq1">1<span>身份验证</span></p>
                                                <p class="pq2" style="color:#fff;">2<span>更换新的手机号码</span></p>
                                                <p class="pq3" style="color:#fff;">3<span>完成</span></p>
                                            </div>
                                        </div>

                                        <div class="phone_yanz">
                                            <div class="gh_success">
                                                <img src="__IMAGES__/bd_sucess.png" width="38">恭喜您，更换手机号成功<br><a href="user14.html">自动返回</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div class="zhgl_bottom">
                                    <h4>温馨提醒</h4>
                                    <p>• 为保障您的帐号安全，变更重要信息需要身份验证</p>
                                    <p>• 若有疑问请联系在线客服或拨打9510-5898（9:00-22:00）</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<include file='Public:footer'/>
<include file='Public:menu_right'/>
</body>
</html>
