<include file='Public:header'/>
<body  style="min-width:1024px">
<include file='Public:top'/>

<div class="user">
    <div class="container">

        <div class="row">
            <include file="Public:ucenterLeft" />
            <div class="col-sm-10">
                <div class="user_r3 user_r10_1">
                    <div class="user_r3_con">
                        <h5>赚积分 <span>当前积分：<b>1000</b>分</span></h5>
                        <table>
                            <tr>
                                <th style="width:25%;">赚取方式</th>
                                <th style="width:50%;">获取积分</th>
                                <th style="width:25%;">操作</th>
                            </tr>
                            <tr>
                                <td>登录</td>
                                <td>每日登录就送您10积分</td>
                                <td style="color:#999;">+10</td>
                            </tr>
                            <tr>
                                <td>注册</td>
                                <td>首页注册送1000积分</td>
                                <td style="color:#999;">+1000</td>
                            </tr>
                            <tr>
                                <td>分享</td>
                                <td>微信分享给好友就送您10积分</td>
                                <td style="color:#ea5404;"><a href="##">立即分享</a></td>
                            </tr>
                            <tr>
                                <td>关注</td>
                                <td>微信关注德意官方商城送100积分</td>
                                <td style="color:#ea5404;"><a href="##">关注德意</a></td>
                            </tr>
                            <tr>
                                <td>邀请</td>
                                <td>邀请好友加入德意，每个送100积分</td>
                                <td style="color:#ea5404;"><a href="##">前往邀请</a></td>
                            </tr>
                            <tr>
                                <td>签到</td>
                                <td>每日签到送10积分</td>
                                <td style="color:#ea5404;"><a href="##">去签到</a></td>
                            </tr>
                            <tr>
                                <td>下单</td>
                                <td>下单购买商品就送您对应的积分</td>
                                <td style="color:#ea5404;"><a href="##">去下单</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<include file='Public:footer'/>
<include file='Public:menu_right'/>
</body>

<script language="javascript" src="__JS__/city-picker.data.js"></script>
<script language="javascript" src="__JS__/city-picker.js"></script>
</html>
