<include file='Public:header'/>
<body  style="min-width:1024px">
<include file='Public:top'/>

<div class="user">
    <div class="container">
        <div class="row">
            <include file="Public:ucenterLeft" />
            <div class="col-sm-10">
                <div class="user_r6" style="margin: 20px 0">
                    <div class="user8_con2">
                        <div class="xgmm">
                            <div class="xgmm_con" style="display:block;">
                                <p><span>当前密码：</span><input type="text" value=""></p>
                                <p><span>新密码：</span><input type="text" value=""></p>
                                <p><span>确认密码：</span><input type="text" value=""></p>
                            </div>
                        </div>
                        <div class="user_r6_line"></div>
                        <a href="##">保存</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<include file="Public:footer" />
<include file='Public:menu_right'/>
</body>

</html>
