<include file='Public:header'/>
<body  style="min-width:1024px">
<include file='Public:top'/>

<!--  / user  -->

<div class="user">
    <div class="container">

        <div class="row">
            <include file="Public:ucenterLeft" />
            <div class="col-sm-10">
                <div class="user_r9">
                    <h5>好友邀请</h5>
                    <p>邀请好友注册得积分：您的好友用手机号主动注册成为德意会员，您即可获得150积分。</p>

                    <div class="user_r9_1">
                        <h5>方法一：发送链接邀请好友</h5>
                        <p>您的邀请码</p>
                        <div class="user_r9_1s clearfix">
                            <input type="text" placeholder="http://unohacha.hk:9090/case/dysc">
                            <a href="##">复制链接</a>
                        </div>
                        <p>您可以点击复制链接，然后发送到QQ、微信、微博、MSN等，分享给好友</p>
                    </div>

                    <div class="user_r9_1" style="margin-bottom:30px;">
                        <div class="user_r9_1_l">
                            <h5>方法二：扫一扫</h5>
                            <p>微信扫描后，点击右上角，转发到朋友圈或分享给好友</p>
                        </div>
                        <div class="user_r9_1_r">
                            <img src="images/weixin_erweima.jpg">
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<include file='Public:footer'/>
<include file='Public:menu_right'/>

</body>

</html>
