<include file='Public:header'/>
<body  style="min-width:1024px">
<include file='Public:top'/>
<!--  / user  -->

<div class="user">
  <div class="container">
    <div class="row">
      <include file="Public:ucenterLeft" />
      <div class="col-sm-10">
        <div class="user_r" style="margin-top: 20px;">
          <div class="user_r_list">
            <h5><span>下单时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
            <table>
              <tr>
                <th class="user_r_frist" style="width:60%;">商品</th>
                <th style="width:20%;">实付</th>
                <th style="width:20%;">操作</th>
              </tr>
              <tr>
                <td class="user_r_frist">
                  <img src="images/order_pro1.jpg" width="100"><span style="line-height:23px;">近吸式油烟机CXW-230-HJ9866
                <br/>

                  单价：¥4,000.00  数量：1
                  </br>
                  <i style="color:#e50011; font-style:normal;">评价+晒单最多可得30积分</i>
                  </span>

                </td>
                <td>¥4,000.00</td>
                <td><a href="{:U('Ucenter/saveComment')}" class="pingjia">评价</a></td>
              </tr>
            </table>
          </div>
          <div class="user_r_list">
            <h5><span>下单时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
            <table>
              <tr>
                <th class="user_r_frist" style="width:60%;">商品</th>
                <th style="width:20%;">实付</th>
                <th style="width:20%;">操作</th>
              </tr>
              <tr>
                <td class="user_r_frist">
                  <img src="images/order_pro1.jpg" width="100"><span style="line-height:23px;">近吸式油烟机CXW-230-HJ9866
                <br/>

                  单价：¥4,000.00  数量：1
                  </br>
                  <i style="color:#e50011; font-style:normal;">评价+晒单最多可得30积分</i>
                  </span>

                </td>
                <td>¥4,000.00</td>
                <td><a href="{:U('Ucenter/saveComment')}" class="pingjia">评价</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  / user  -->

<include file='Public:footer'/>
<include file="Public:menu_right"/>
</body>
<script language="javascript" src="__JS__/index.js"></script>
</html>
