<include file='Public:header'/>
<body  style="min-width:1024px">
<include file='Public:top'/>
<!--  / user  -->

<div class="user">
  <div class="container">
    
    <div class="row">
      <include file="Public:ucenterLeft" />
      <div class="col-sm-10">
        <div class="user_r" style="margin-top: 20px;">
          <div class="user_r_list">
            <h5><span>下单时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
            <table>
              <tr>
                <th class="user_r_frist" style="width:38%;">商品</th>
                <th style="width:10%;">实付</th>
                <th style="width:20%;">评价</th>
                <th style="width:20%;">评价内容</th>
                <th style="width:12%;">操作</th>
              </tr>
              <tr>
                <td class="user_r_frist">
                  <img src="images/order_pro1.jpg" width="100"><span style="line-height:30px;">近吸式油烟机CXW-230-HJ9866</br>
                  单价：¥4,000.00  数量：1</span></td>
                <td>¥4,000.00</td>
                <td class="user_pj">
                  <span>综合：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                  <span>商品：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                  <span>物流：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                  <span>服务：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                </td>
                <td>宝贝收到了，发货快，包装挺好，无破损，烟机和灶都很漂亮.</td>
                <td><a href="user2_inner.html">详情</a><a href="##">删除</a></td>
              </tr>
            </table>
          </div>
          <div class="user_r_list">
            <h5><span>下单时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
            <table>
              <tr>
                <th class="user_r_frist" style="width:38%;">商品</th>
                <th style="width:10%;">实付</th>
                <th style="width:20%;">评价</th>
                <th style="width:20%;">评价内容</th>
                <th style="width:12%;">操作</th>
              </tr>
              <tr>
                <td class="user_r_frist">
                  <img src="images/order_pro1.jpg" width="100"><span style="line-height:30px;">近吸式油烟机CXW-230-HJ9866</br>
                  单价：¥4,000.00  数量：1</span></td>
                <td>¥4,000.00</td>
                <td class="user_pj">
                  <span>综合：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                  <span>商品：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                  <span>物流：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                  <span>服务：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                </td>
                <td>宝贝收到了，发货快，包装挺好，无破损，烟机和灶都很漂亮.</td>
                <td><a href="user2_inner.html">详情</a><a href="##">删除</a></td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
        
  </div>      
</div>

<!--footer-->
<include file='Public:footer'/>
<include file='Public:menu_right'/>

</body>
<script language="javascript" src="__JS__/index.js"></script>
</html>
