<include file='Public:header'/>
<body  style="min-width:1024px">
<include file='Public:top'/>

<div class="user">
    <div class="container">

        <div class="row">
            <include file="Public:ucenterLeft" />
            <div class="col-sm-10">
                <div class="user_r">

                    <div class="sharer">好友购买记录：<span>3</span>人 奖励<span>300</span>分</div>
                    <div class="user_r_list">
                        <div class="user_fen ">
                            <table>
                                <tbody>
                                <tr>
                                    <th style="width: 10%">推荐客户</th>
                                    <th style="width: 10%">电话</th>
                                    <th style="width: 10%">订单信息</th>
                                    <th style="width:30%;"></th>
                                    <th style="width: 15%">分享时间</th>
                                    <th style="width: 15%">购买时间</th>
                                    <th style="width: 10%">获取佣金</th>
                                </tr>

                                <tr>
                                    <td>loser</td>
                                    <td>18865171444</td>
                                    <td>
                                        <a href="##"><img src="images/order_pro1.jpg" width="100"></a>
                                    </td>
                                    <td style="text-align: left;">
                                        <div class="user_proa">
                                            <p><a href="##">近吸式油烟机CXW-230-HJ9866</a></p>
                                            <p>系列：Q5系列</p>
                                            <p>价格：¥4,000.00</p>
                                        </div>
                                    </td>
                                    <td>2016-06-06 12:30:30</td>
                                    <td>2016-06-07 12:30:30</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>loser</td>
                                    <td>18865171444</td>
                                    <td>
                                        <a href="##"><img src="images/order_pro1.jpg" width="100"></a>
                                    </td>
                                    <td style="text-align: left;">
                                        <div class="user_proa">
                                            <p><a href="##">近吸式油烟机CXW-230-HJ9866</a></p>
                                            <p>系列：Q5系列</p>
                                            <p>价格：¥4,000.00</p>
                                        </div>
                                    </td>
                                    <td>2016-06-06 12:30:30</td>
                                    <td>2016-06-07 12:30:30</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>loser</td>
                                    <td>18865171444</td>
                                    <td>
                                        <a href="##"><img src="images/order_pro1.jpg" width="100"></a>
                                    </td>
                                    <td style="text-align: left;">
                                        <div class="user_proa">
                                            <p><a href="##">近吸式油烟机CXW-230-HJ9866</a></p>
                                            <p>系列：Q5系列</p>
                                            <p>价格：¥4,000.00</p>
                                        </div>
                                    </td>
                                    <td>2016-06-06 12:30:30</td>
                                    <td>2016-06-07 12:30:30</td>
                                    <td>200</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!--  / user  -->
<include file='Public:footer'/>
<include file='Public:menu_right'/>
</body>

</html>
