<include file='Public:header'/>
<body style="min-width:1024px">
<include file='Public:top'/>
<div class="user">
  <div class="container">
    <div class="row">
      <include file="Public:ucenterLeft" />
      <div class="col-sm-10">
        <div class="user_r_inner">
          <div class="user_inner">
            <h5 class="clearfix">
              <p>下单时间：<span>{$info.order.order_time}</span></p>
              <p>订单号：<span>{$info.order.order_no}</span></p>
            </h5>
            <div class="user_inner_con clearfix">
              <div class="user_inner_con1">
                <p>收货人：<span>{$info.order.consignee}</span></p>
                <p>联系方式：<span>{$info.order.mobile}</span></p>
                <p>收货地址：<span>{$info.order.province}{$info.order.city}{$info.order.district}{$info.order.address}</span></p>
                <p>配送方式：<span>普通配送，快递免邮</span></p>
              </div>
              <div class="user_inner_con1">
                <p>商品合计：<span>¥{$info.order.total_price}</span></p>
                <p>运费：<span>¥0.00</span></p>
                <p>支付方式：<span>余额支付</span></p>
              </div>

              <!--<div class="user_inner_con2">-->
                <!--<p>发票信息： <span>电子发票-增值普票</span><span>发票抬头(李亮)</span></p>-->
                <!--<p>使用优惠券： </p>-->
                <!--<div class="user_r3_j">-->
                  <!--<div class="user_r3_j1">-->
                    <!--<span>￥100</span> 优惠券-->
                    <!--<p></p>-->
                  <!--</div>-->
                  <!--<div class="user_r3_j2">-->
                    <!--注册新用户全场通用券<br>-->
                    <!--<span>单笔订单满2000元使用</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

            </div>
          </div>

          <div class="user_r_list">
            <table>
              <tr>
                <th class="user_r_frist" style="width:40%;">商品</th>
                <th style="width:12%;">单价</th>
                <th style="width:12%;">数量</th>
                <th style="width:12%;">实付</th>
                <th style="width:12%;">收货人</th>
                <th style="width:12%;">状态</th>
              </tr>
              <volist name="info.goods" id="vo" key="k">
                <tr>
                  <td class="user_r_frist"><img src="{$vo.goods_pic}" width="100px" height="100px"><span>{$vo.goods_name}</span></td>
                  <td>¥{$vo.goods_price}</td>
                  <td>{$vo.goods_nums}</td>
                  <td>¥{$vo.goods_priceall}</td>
                  <if condition="($k eq 1)">
                    <td rowspan="{$info.order.count}">{$info.order.consignee}</td>
                    <td rowspan="{$info.order.count}">{$info.order.status}</td>
                  </if>
                </tr>
              </volist>
            </table>
          </div>
          <notempty name="info.order.message">
          <div class="user_r_list wlxx">
            <h5>买家留言</h5>
            <div class="wlxx_con" style="padding:10px 20px;">
              <p>{$info.order.message}</p>
            </div>
          </div>
          </notempty>
          <div class="user_r_list wlxx">
            <h5>物流信息</h5>
            <div class="wlxx_con">
              <!--<p><span>20160-08-20 12:30:00</span> 商品已出货</p>-->
              <!--<p><span>20160-08-20 18:30:00</span> 商品已到达宁波机场 正运往杭州</p>-->
              <!--<p><span>20160-08-21 10:30:00</span> 商品到达杭州萧山机场</p>-->
              <!--<p><span>20160-08-22 12:30:00</span> 商品到达杭州市西湖区 正在派送中</p>-->
              <p><span>暂无物流信息</span></p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<include file='Public:footer'/>
<include file="Public:menu_right"/>
</body>

</html>
