<include file='Public:user_header'/>
<body  style="min-width:1190px">
<include file='Public:user_top'/>


<!--  / user  -->

<div class="user">
  <div class="container">

    <div class="row">
      <include file="Public:ucenterLeft" />
      <div class="col-sm-10">
        <div class="user_r4">
          <div class="user_r4_con">
            <h5>我的增值税发票</h5>
            <table>
            <tr>
              <th style="width:15%;">单位名称</th>
              <th style="width:15%;">纳税人识别号</th>
              <th style="width:25%;">注册地址</th>
              <th style="width:15%;">开户银行</th>
              <th style="width:15%;">银行账户</th>
              <th style="width:15%;">操作</th>
            </tr>
            <foreach name='info' item='vo'>
            <tr>
              <td>{$vo.company}</td>
              <td>{$vo.invoice_title}</td>
              <td>{$vo.address}</td>
              <td>{$vo.bank}</td>
              <td>{$vo.bank_account}</td>
              <td><a href="##" class="edit" data-id="{$vo.id}" data-company="{$vo.company}" data-invoice="{$vo.invoice_title}" data-address="{$vo.address}" data-bank="{$vo.bank}" data-account="{$vo.bank_account}" data-phone="{$vo.phone}">编辑</a><a href="##"
              onclick="del({$vo['id']})">删除</a></td>
            </tr>
            </foreach>
            </table>
          </div>
          <div class="user_r4_btn">
              <a id="new" href="##">新增增值税发票</a>
          </div>

          <div class="user_r4_cons">
          <div class="user_r6">
          <h5>填写增票资质信息</h5>
          <div class="user8_con2">
                <input type="hidden" name="id">
                <p><span>单位名称：</span><input type="text" value="" name='company'></p>
                <p><span>纳税人识别号：</span><input type="text" value="" name='invoice_title'></p>
                <p><span>注册地址：</span><input type="text" value="" name='address'></p>
                <p><span>注册电话：</span><input type="text" value="" name='phone'></p>
                <p><span>开户银行：</span><input type="text" value="" name='bank'></p>
                <p><span>银行账户：</span><input type="text" value="" name='bank_account'></p>
                <div class="user_r6_line"></div>
                <a href="##" id='btn'>保存</a>
              </div>
        </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!---footer---->
<include file='Public:footer'/>
<!---footer---->
</body>
<script language="javascript" src="__JS__/index.js"></script>
</html>
<script>
$("#new").click(function (){
    $('input[name=id]').val("");
    $('input[name=company]').val("");
    $('input[name=invoice_title]').val("");
    $('input[name=address]').val("");
    $('input[name=phone]').val("");
    $('input[name=bank]').val("");
    $('input[name=bank_account]').val("");
})
//添加增值税发票
$('#btn').bind('click',function(){
    var data ={};
    data.id       = $('input[name=id]').val();
    data.company       = $('input[name=company]').val();
    data.invoice_title = $('input[name=invoice_title]').val();
    data.address       = $('input[name=address]').val();
    data.phone         = $('input[name=phone]').val();
    data.bank          = $('input[name=bank]').val();
    data.bank_account  = $('input[name=bank_account]').val();
    // if(data['phone'] && !data['phone'].match(/^1[3|4|5|7|8][0-9]\d{8}$/)){
    //     dialog.showTips("手机号码格式错误！", "warn");return false;
    // }
    for(var i in data){
      if(data[i] == ""){
        dialog.showTips("请将信息填写完整！","warn");return false;
      }
    }

    $.ajax({
      url: "{:U('Home/Ucenter/addValueAddTax')}",
      type:'post',
      data : data,
      datatype :'json',
      success: function(data){
        if(data.status==1){
          dialog.showTips(data.info, "",1);
        }else{
          dialog.showTips(data.info, "warn");
        }
      }
    });
});

$(".edit").click(function(){
  var company         = $(this).attr("data-company");
  var invoice_title   = $(this).attr("data-invoice");
  var phone           = $(this).attr("data-phone");
  var address         = $(this).attr("data-address");
  var bank            = $(this).attr("data-bank");
  var bank_account    = $(this).attr("data-account");
  var id              = $(this).attr("data-id");
  $(".user8_con2").find("input[name=id]").val(id);
  $(".user8_con2").find("input[name=company]").val(company);
  $(".user8_con2").find("input[name=invoice_title]").val(invoice_title);
  $(".user8_con2").find("input[name=address]").val(address);
  $(".user8_con2").find("input[name=phone]").val(phone);
  $(".user8_con2").find("input[name=bank_account]").val(bank_account);
  $(".user8_con2").find("input[name=bank]").val(bank);
  $('.user_r4_cons').stop(true).slideDown(600);
})

function del(id){
  if(confirm('确定删除吗？')){
    $.ajax({
      url: "{:U('Home/Ucenter/delValueAddTax')}",
      type:'get',
      data : 'id='+id ,
      success : function(data){
        if(data.status==1){
          dialog.showTips(data.info, "",1);
        }else{
          dialog.showTips(data.info, "warn");
        }
      }
    });
  }
}

/*
$('.user_r4 .user8_con2>a').click(function(){
     $('.user_r4_cons').stop(true).slideUp(600);
     }) 
*/
</script>