<include file="Public:header"/>

<body>

	<div class="integral">

		<a href="javascript:history.go(-1)">
			<div class="screening_btn1">
				<span></span>
			</div>
		</a>

		<div class="tegral">地址管理</div>

	</div>
	<!--  / warpper  -->
	<div class="warpper" style="background: #f9f9f9">

		<div class="user_dizhi">
			<volist name="info" id="vo">
				<div class="dizhi_list">

					<h5>{$vo.consignee}<span>{$vo.telephone}</span></h5>
					<p>{$vo.province}{$vo.city}{$vo.district}{$vo.place}</p>

					<div class="acquie clearfix">
						
						<if condition="$vo['isdefault'] eq 1 ">
							<div class="acquie_left" onclick="up_def({$vo['id']},{$vo['isdefault']});" ><span class="bg_nn"></span>默认地址</div>
						<else />
							<div class="acquie_left" onclick="up_def({$vo['id']},{$vo['isdefault']});" ><span class=""></span>默认地址</div>
						</if>
						<div class="acquie_right">
							<a href="/wx_update_address.html?id={$vo.id}" class="click_upd"> <img src="__IMAGES__/upda.png" width="100%">编辑</a>
							<a href="javascript:volid();" class="click_del" id="{$vo.id}"> <img src="__IMAGES__/dele.png" width="100%">删除</a>
						</div>
					</div>

				</div>
			</volist>

		</div>
		<div class="userdizhi_xj">
			<a href="/wx_add_address.html">

				<img src="__IMAGES__/add1.png" width="100%">添加新地址
			</a>
		</div>
		<div class="refunds_bg"></div>

		<div class="deleting">
			<h5>确认要删除该地址吗？</h5>
			<p><a href="javascript:volid();">取消</a><a href="javascript:volid();" id="address_del" class="delet">删除</a></p>

		</div>

	</div>
	<!--  / warpper  -->

</body>
<script type="text/javascript" src="__JS__/alert.js"></script>
<script type="text/javascript" src="__JS__/ucenter/address.js"></script>
<script>
$( document ).ready( function()
{

	$( ".acquie_left " ).click( function()
	{
		var _this = $( this ).find( "span" );
		console.log( _this )
		if( _this.hasClass( "bg_nn" ) )
		{
			$( ".acquie_left span" ).removeClass( "bg_nn" )

		}
		else
		{

			$( ".acquie_left span" ).removeClass( "bg_nn" )
			_this.addClass( "bg_nn" );

		}
	} )

	$( ".click_del " ).click( function()
	{	
		var del_id = '';
		del_id = $(this).attr('id');
		
		$("#address_del").attr("del_id",del_id);
		$( '.refunds_bg' ).stop( true, true ).fadeIn( 300 );
		$( '.deleting' ).stop( true, true ).fadeIn( 300 );
	} )
	$( ".deleting a " ).click( function()
	{

		$( '.refunds_bg' ).stop( true, true ).fadeOut( 300 );
		$( '.deleting' ).stop( true, true ).fadeOut( 300 );
	} )

} )

</script>

<html>
