<include file="Public:header"/>

<body>

	<div class="integral">
		<a href="/wx_ucenter.html">
			<div class="screening_btn1">
				<span></span>
			</div>
		</a>
		<div class="tegral">我的分销</div>
		<div class="pro_share1">
			<div class="pro_share_rig">
				<span></span>
				<div class="message"><ul class="message_ul">
								<include file="Public:left"/>
							</ul>
					<div class="triangle">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  / warpper  -->
	<div class="warpper" style="padding-bottom: 0;">


		<div class="ind_user">
			<a href="/wx_ucenter.html">
				<div class="ind_user_img">
					<img src="__IMAGES__/user_tx.jpg" width="100%">
				</div>
			</a>
			<h5>李亮 </h5>
			<p>18674001723</p>
			<div class="map_user">
				<img src="__IMAGES__/map.png" width="16">
				<span>杭州<i class="fa fa-angle-down"></i></span>
			</div>
		</div>

		<div class="spacing10"></div>

		<div class="main_class">
			<ul class="clearfix">
				<li>
					<a href="user1.html">
						<img src="__IMAGES__/mon1.png" width="40">
						<h5>分享人数 <br/><span>10</span><i>人</i></h5>
					</a>
				</li>
				<li>
					<a href="user2.html">
						<img src="__IMAGES__/mon2.png" width="40">
						<h5>总佣金 <br/><span>6000</span><i>元</i></h5>
					</a>
				</li>
				<li>
					<img src="__IMAGES__/mon3.png" width="40">
					<h5>积分 <br/><span>2000</span><i>个</i></h5>
				</li>
			</ul>
		</div>

		<div class="spacing10"></div>


		<div class="mon_g clearfix">
			<div class="mon_left">
				<a href="##">
					<img src="__IMAGES__/mon.png" width="30">
				</a>
				<p>分享领取佣金</p>
			</div>

			<a href="##"><div class="mon_right">
				<p>分享用户<span>成功注册</span>德意，您就可以获取<b>佣金收益</b></p>
			</div></a>
		</div>


		<div class="spacing10"></div>

		<div class="share">
			<h5>我的邀请码</h5>
			<!--<a class="share_fxgz" href="##">分享会员规则</a>-->
			<div class="share_con">
				<p>分享链接:http://</p>
				<div class="clearfix">
					<div class="share_con_l">
						<img src="__IMAGES__/ewm.png" width="120">
					</div>
					<div class="share_con_r">
						<p>赶快分享邀请你的小伙伴来赚钱啦！<br/>你的邀请码为<span>8866</span>!</p>
					</div>
				</div>

				<div class="share_btn">
					立即分享
				</div>

			</div>
		</div>

	</div>

	<!--  / warpper  -->

</body>
<script>

</script>
</html>
