<include file="Public:header_ucenter"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index1.css">
<body>
	<!-- top -->
	<div class="integral">

		<a href="javascript:history.go(-1)">
			<div class="screening_btn1">
				<span></span>
			</div>
		</a>

		<div class="tegral">更改密码</div>

	</div>
	<!-- top end -->
	<!-- user -->
	<div class="warpper">
	<div class="bangding">
		<div class="forgetp2 xiugai">
			<ul>
				<li class="yzm yzm4">
					<span>原密码</span>
					<input type="text" name="old_pass" placeholder="请输入">
				</li>
				<li class="yzm yzm4">
					<span>现密码</span>
					<input type="text" name="pass"placeholder="请输入">
				</li>
				<li class="yzm yzm4">
					<span>新密码确认</span>
					<input type="text" name="ok_pass" placeholder="请输入">
				</li>
			</ul>
		</div>
		<div class="nextp">
			<a href="javascript:volid(0);" onclick="sub_pass();">保存</a>
		</div>
		<div class="nextp nextp2">
			<a href="javascript:volid(0);">联系客服</a>
		</div>
		<!-- user end -->

		</div>
	</div>

</body>
</html>
<script type="text/javascript" src="__AJS__/alert.js"></script>
<script type="text/javascript" src="__JS__/ucenter/mypassword.js"></script>