<include file="Public:header"/>

<body>

	<!--  / warpper  -->
	<div class="warpper" style=" background: #f5f5f9;">

		<div class="integral">

			<a href="javascript:history.go(-1)">
				<div class="screening_btn1">
					<span></span>
				</div>
			</a>

			<div class="tegral">交易助手</div>

		</div>

		<div class="user_new_in">
			<div class="date"><span>昨天 晚上 10:25</span></div>
			<div class="user_new_in_con">
				<div class="tit">付款成功</div>
				<div class="da">09月03日</div>
				<div class="price">3280.00<span>元</span></div>
				<div class="text"><span>付款方式:</span>中国建设银行</div>
				<div class="text"><span>交易对象:</span>德意厨具有限公司</div>
				<div class="text"><span>商品说明:</span>德意852E+770B近吸侧吸式吸抽油烟机</div>
				<div class="tx"><a href="##">查看详情</a></div>
			</div>
		</div>
	</div>
	<!--  / warpper  -->

</body>
</html>
