<include file="Public:header"/>

<body>

	<!--  / warpper  -->
	<div class="warpper" style=" background: #f9f9f9">

		<div class="integral">

			<a href="javascript:history.go(-1)">
				<div class="screening_btn1">
					<span></span>
				</div>
			</a>

			<div class="tegral">
				评价
			</div>

		</div>

		<div class="praise_list">

			<div class="user1_list">
				<h5>订单编号：2720019</h5>
				<div class="user1_list_con clearfix">
					<div class="user1_list_con1">
						<img src="__IMAGES__/order_pro2.jpg" width="100%">
					</div>
					<div class="user1_list_con2">
						<h5>德意（DE&E）852E智能强排近吸式抽油烟机</h5>
						<span>共3种商品</span>
					</div>
				</div>

				<div class="user1_list_b clearfix">
					<span>实付：¥12,000.00</span>
					<a class="user1_list_btn" href="/wx_user_pingj_in.html">查看评价</a>
					<a href="##">删除评价</a>
				</div>

			</div>

			<div class="user1_list">
				<h5>订单编号：2720019</h5>
				<div class="user1_list_con clearfix">
					<div class="user1_list_con1">
						<img src="__IMAGES__/order_pro2.jpg" width="100%">
					</div>
					<div class="user1_list_con2">
						<h5>德意（DE&E）852E智能强排近吸式抽油烟机</h5>
						<span>共3种商品</span>
					</div>
				</div>

				<div class="user1_list_b clearfix">
					<span>实付：¥12,000.00</span>
					<a class="user1_list_btn" href="user_pingj_in.html">查看评价</a>
					<a href="##">删除评价</a>
				</div>

			</div>
			<div class="user1_list">
				<h5>订单编号：2720019</h5>
				<div class="user1_list_con clearfix">
					<div class="user1_list_con1">
						<img src="__IMAGES__/order_pro2.jpg" width="100%">
					</div>
					<div class="user1_list_con2">
						<h5>德意（DE&E）852E智能强排近吸式抽油烟机</h5>
						<span>共3种商品</span>
					</div>
				</div>

				<div class="user1_list_b clearfix">
					<span>实付：¥12,000.00</span>
					<a class="user1_list_btn" href="user_pingj_in.html">查看评价</a>
					<a href="##">删除评价</a>
				</div>

			</div>

		</div>

	</div>

	<!--  / warpper  -->

</body>
</html>
