<include file="Public:header"/>

<body>

	<!--  / warpper  -->
	<div class="warpper" style="padding-bottom: 0%; background: #f9f9f9">

		<div class="integral">

			<a href="javascript:history.go(-1)">
				<div class="screening_btn1">
					<span></span>
				</div>
			</a>

			<div class="tegral">评价</div>

		</div>

		<div class="praise_list">
			<div class="user1_inner1">
				<p>下单时间：2016-09-19 12：30：30</p>
				<p>订单编号：2720019</p>
				<p>实付：¥12,000.00</p>
			</div>

			<div class="user1_inner3">
				<h5>商品详情</h5>
				<div class="user_order_list_ct clearfix">
					<a href="##">
						<div class="img"><img src="__IMAGES__/simi1.jpg" width="100%"></div>
						<div class="user_order_list_tx">
							<div class="title">德意(DE&E)M5新品 851T油烟机 欧式大吸力抽油烟机</div>
							<div class="tx">系列:851T+715B烟灶套装（天然气）</div>
							<div class="text">
								<div class="now">￥3988.00</div>
								<div class="bef">￥4117.00</div>
								<div class="num">x<span>1</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="user_order_list_ct clearfix">
					<a href="##">
						<div class="img"><img src="__IMAGES__/simi1.jpg" width="100%"></div>
						<div class="user_order_list_tx">
							<div class="title">德意(DE&E)M5新品 851T油烟机 欧式大吸力抽油烟机</div>
							<div class="tx">系列:851T+715B烟灶套装（天然气）</div>
							<div class="text">
								<div class="now">￥3988.00</div>
								<div class="bef">￥4117.00</div>
								<div class="num">x<span>1</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="user_order_list_ct clearfix">
					<a href="##">
						<div class="img"><img src="__IMAGES__/simi1.jpg" width="100%"></div>
						<div class="user_order_list_tx">
							<div class="title">德意(DE&E)M5新品 851T油烟机 欧式大吸力抽油烟机</div>
							<div class="tx">系列:851T+715B烟灶套装（天然气）</div>
							<div class="text">
								<div class="now">￥3988.00</div>
								<div class="bef">￥4117.00</div>
								<div class="num">x<span>1</span></div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="evaluate_top clearfix">
				<div class="left"><img src="__IMAGES__/simi1.jpg" width="100%"></div>
				<div class="evaluate_top_right clearfix">
					<div class="evaluate_top_right_con on">
						<img src="__IMAGES__/ue1.png" class="img1">
						<img src="__IMAGES__/ue1_1.png" class="img2">
						好评
					</div>
					<div class="evaluate_top_right_con">
						<img src="__IMAGES__/ue2.png" class="img1">
						<img src="__IMAGES__/ue2_1.png" class="img2">
						中评
					</div>
					<div class="evaluate_top_right_con">
						<img src="__IMAGES__/ue3.png" class="img1">
						<img src="__IMAGES__/ue3_1.png" class="img2">
						差评
					</div>
				</div>
			</div>
			<div class="evaluate_center">
				<textarea placeholder="包装很仔细，里面放了很多泡沫，物流很快，安装师傅服务很热情，技术也很好，产品更不用说，制冷效果太好了.愉快的购物，好好好" ></textarea>
				<div class="evaluate_center_img clearfix">
					<div class="evaluate_center_img_con">
						<img src="__IMAGES__/simi1.jpg" width="100%">
					</div>
					<div class="evaluate_center_img_con">
						<img src="__IMAGES__/simi1.jpg" width="100%">
					</div>
				</div>

			</div>
			<div class="user1_inner4">
				<div class="user1_inner4_1">
					<p>收货人:李亮</p>
					<p>联系方式：18674001723</p>
					<p>收货地址：浙江省杭州市西湖区文三路华星时代广场</p>
				</div>
				<div class="user1_inner4_1">
					<p>配送方式：普通配送，快递免邮</p>
					<p>商品合计：¥12,000.00</p>
					<p>运费：¥10.00</p>
				</div>
				<div class="user1_inner4_1">
					<p style="color:#e60012;">实付：¥12,010.00</p>
				</div>
			</div>

			<div class="evaluate_bot">
				<div class="evaluate_bot_tit clearfix"><img src="__IMAGES__/ue5.png" width="25">商家评分</div>
				<div class="content">
					<div class="block flo_left  clearfix">
						<p>描述相符：</p>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
					</div>
					<div  class="block flo_left clearfix">
						<p>物流服务：</p>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
					</div>
					<div class="block flo_left clearfix">
						<p>商家服务：</p>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>
						<a href="##"><img src="__IMAGES__/stars2.png" width="25"> </a>

					</div>

				</div>

			</div>

			<div class="user1_inner5">
				<h5>评价内容</h5>
				<p>包装很仔细，里面放了很多泡沫，物流很快，安装师傅服务很热情，技术也很好，产品更不用说，完全没有什么噪音。</p>
			</div>

			<a href="user_pingj.html" class="go_v">返回</a>

		</div>

	</div>

	<!--  / warpper  -->

</body>
</html>
