<include file="Public:header"/>

<body>

	<!--  / warpper  -->
	<div class="warpper" style="background: #f9f9f9">

		<div class="integral">

			<a href="javascript:history.go(-1)">
				<div class="screening_btn1">
					<span></span>
				</div>
			</a>

			<div class="tegral">我的消息</div>

		</div>

		<div class="user_new_top">
			<div class="user_new_top_con">
				<input type="button" class="in_one2">
				<input type="text" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '搜索';}"  value="搜索">
			</div>
		</div>

		<div class="user_new">
			<div class="user_new_con clearfix">
				<a href="/wx_user_new_inner.html">
					<div class="left"><img src="__IMAGES__/un1.png" width="60"></div>
					<div class="right">
						<div class="title">交易助手 <span>上午 10:00</span></div>
						<div class="text">付款成功</div>
					</div>
				</a>
			</div>
			<div class="user_new_con clearfix">
				<a href="##">
					<div class="left"><img src="__IMAGES__/un2.png" width="60"></div>
					<div class="right">
						<div class="title">物流信息 <span>昨天</span></div>
						<div class="text">订单已签收(中通快递)</div>
					</div>
				</a>
			</div>
			<div class="user_new_con clearfix">
				<a href="##">
					<div class="left"><img src="__IMAGES__/un3.png" width="60"></div>
					<div class="right">
						<div class="title">德意客服 <span>上午 10:00</span></div>
						<div class="text">什么是德意种子？</div>
					</div>
				</a>
			</div>
			<div class="user_new_con clearfix">
				<a href="##">
					<div class="left"><img src="__IMAGES__/un4.png" width="60"></div>
					<div class="right">
						<div class="title">消息中心 <span>昨天</span></div>
						<div class="text">秒杀上新，不容错过！</div>
					</div>
				</a>
			</div>
			<div class="user_new_con clearfix">
				<a href="##">
					<div class="left"><img src="__IMAGES__/un5.png" width="60"></div>
					<div class="right">
						<div class="title">积分签到 <span>上午 10:00</span></div>
						<div class="text">您今日还没有签到哦~签到可领15积分，快...</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!--  / warpper  -->

</body>
</html>
