<include file="Public:header"/>

<body>
	<div class="integral">

		<a href="/wx_ucenter.html">
			<div class="screening_btn1">
				<span></span>
			</div>
		</a>

		<div class="tegral">待付款</div>
		<div class="pro_share1">

			<div class="pro_share_rig">

				<span></span>

				<div class="message"><ul class="message_ul">
								<include file="Public:left"/>
							</ul>
					<div class="triangle">

					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="user_order_top">
		<ul class="clearfix">
			<li><a href="/wx_order.html">全部</a></li>
			<li class="on"><a href="/wx_order1.html">待付款</a></li>
			<li><a href="/wx_order2.html">待发货</a></li>
			<li><a href="/wx_order3.html">待收货</a></li>
			<li><a href="/wx_order4.html">待评价</a></li>
		</ul>
	</div>
	<!--  / warpper  -->
	<div class="warpper" style="padding-top: 82px;padding-bottom: 0%; background: #f5f5f9;">
		<div class="user_order_list">
			<notempty name="order_list">
				<volist name="order_list" id="val">
					<div class="user_order_list_con">
						<div class="user_order_list_top clearfix">
							订单编号: {$val.order_no} <span class="tx">{$val.status}</span>
						</div>
						<volist name="val.data" id="vo">
							<div class="user_order_list_ct clearfix">
								<a href="user_din_in.html">
									<div class="img"><img src="{$vo.goods_pic}" width="100%"></div>
									<div class="user_order_list_tx">
										<div class="title">{$vo.cate_one}{$vo.cate_two}{$vo.goods_name}</div>
										<div class="tx"><notempty name="vo.sku_info">系列:{$vo.sku_info}</notempty></div>
										<div class="text">
											<div class="now">￥{$vo.goods_price}</div>
											<div class="bef">￥{$vo.goods_oprice}</div>
											<div class="num">x<span>{$vo.goods_nums}</span></div>
										</div>
									</div>
								</a>
							</div>
							<div class="user_order_list_text">
								共{$val.count}件商品 合计:￥<span>{$val.total_fee}</span>(含运费￥0.00)
						</volist>
					</div>
					<div class="user_order_list_bot clearfix">
						<a href="##" class="on">提醒发货</a>
					</div>
					</div>
				</volist>
				<else />
				<div class="user_order_list_none">
					<img src="__IMAGES__/uo1.png" width="40%">
					<div class="title">您还没有相关的订单</div>
					<div class="text">可以去看看有哪些想买的</div>
				</div>
			</notempty>
		</div>

		<!--没有订单-->
		<!--<div>-->
			<!--<div class="user_order_list_none">-->
				<!--<img src="__IMAGES__/uo1.png" width="40%">-->
				<!--<div class="title">您还没有相关的订单</div>-->
				<!--<div class="text">可以去看看有哪些想买的</div>-->
			<!--</div>-->

			<!--<div class="integral_activity_tit">-->
				<!--<span><i></i></span>-->
				<!--<img src="__IMAGES__/iti2.png" width="30"> 猜你喜欢-->
				<!--<span class="d1"><i></i></span>-->
			<!--</div>-->

			<!--<div class="user_order_xh clearfix">-->
				<!--<div class="row clm5">-->
					<!--<div class="col-xs-6 clp5">-->
						<!--<div class="similar_one">-->
							<!--<a href="##"><img src="__IMAGES__/simi1.jpg" width="100%"></a>-->
							<!--<div class="similar_txt">-->
								<!--<h5><a href="##">德意(DE&amp;E)M5新品 851T欧式抽油烟机</a></h5>-->
								<!--<div class="clearfix">-->
									<!--<div class="price">￥<span>2480</span>.00</div>-->
									<!--<div class="tx">519人已购买</div>-->
									<!--<a href="##" class="sp"><img src="__IMAGES__/nav_2a.png" width="100%"></a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-xs-6 clp5">-->
						<!--<div class="similar_one">-->
							<!--<a href="##"><img src="__IMAGES__/simi1.jpg" width="100%"></a>-->
							<!--<div class="similar_txt">-->
								<!--<h5><a href="##">德意(DE&amp;E)M5新品 851T欧式抽油烟机</a></h5>-->
								<!--<div class="clearfix">-->
									<!--<div class="price">￥<span>2480</span>.00</div>-->
									<!--<div class="tx">519人已购买</div>-->
									<!--<a href="##" class="sp"><img src="__IMAGES__/nav_2a.png" width="100%"></a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-xs-6 clp5">-->
						<!--<div class="similar_one">-->
							<!--<a href="##"><img src="__IMAGES__/simi1.jpg" width="100%"></a>-->
							<!--<div class="similar_txt">-->
								<!--<h5><a href="##">德意(DE&amp;E)M5新品 851T欧式抽油烟机</a></h5>-->
								<!--<div class="clearfix">-->
									<!--<div class="price">￥<span>2480</span>.00</div>-->
									<!--<div class="tx">519人已购买</div>-->
									<!--<a href="##" class="sp"><img src="__IMAGES__/nav_2a.png" width="100%"></a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-xs-6 clp5">-->
						<!--<div class="similar_one">-->
							<!--<a href="##"><img src="__IMAGES__/simi1.jpg" width="100%"></a>-->
							<!--<div class="similar_txt">-->
								<!--<h5><a href="##">德意(DE&amp;E)M5新品 851T欧式抽油烟机</a></h5>-->
								<!--<div class="clearfix">-->
									<!--<div class="price">￥<span>2480</span>.00</div>-->
									<!--<div class="tx">519人已购买</div>-->
									<!--<a href="##" class="sp"><img src="__IMAGES__/nav_2a.png" width="100%"></a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

			<!--</div>-->
		<!--</div>-->

		<!--没有订单-->

		<!--有订单-->

		
		<div class="user_order_list_btn clearfix"><a href="##">合并付款</a></div>

	</div>
	<!--  / warpper  -->

</body>
<script>
$( document ).ready( function()
{

	$(".user_order_list_top" ).click(function(){
		var _this=$(this)
		if(_this.hasClass("on")){
			_this.removeClass("on")
		}else{
			_this.addClass("on")
		}
		if($(".user_order_list_top" ).hasClass("on")){
			$(".user_order_list_btn" ).fadeIn(500)

		}else{
			$(".user_order_list_btn" ).fadeOut(500)

		}
	})
} )

</script>
</html>
