<include file="Public:header"/>
<body>
	<!-- top -->
	<div class="integral">

		<a href="javascript:history.go(-1)">
			<div class="screening_btn1">
				<span></span>
			</div>
		</a>

		<div class="tegral">登录</div>

	</div>
	<!-- top end -->
	<!-- user -->
	<div class="warpper" style="padding-bottom: 0;">
		<div class="login">
			<div class="userlogin">
				<ul>
					<li>
						<img src="__IMAGES__/user.png" alt="">
						<input type="tel" name="telephone" placeholder="请输入手机号" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
					</li>
					<li>
						<img src="__IMAGES__/password.png" alt="">
						<input type="password" name="password" maxlength="20" placeholder="请输入密码">
						<div onclick="s_pass(this);" data-status="1" class="eye1"></div>
					</li>

				</ul>
			</div>
			<div class="fpassword">
				<a href="/wx_forget_password.html">忘记密码</a>
			</div>
			<div class="yeslog newuser" onclick="sub_login();"><a href="javascript:volid();">登录</a></div>
			<div class="yeslog1"><a href="/wx_register.html">新用户注册</a></div>
			<!-- kuaisulogin -->
			<div class="third">
				<div class="kuaisu">
					<ul>
						<li class="kuaisul"></li>
						<li class="kuaisum">快速登录</li>
						<li class="kuaisul kuaisur"></li>
					</ul>
				</div>
				<div class="pro_share_icon">
					<a href="##"><i class="fa fa-qq"></i></a>
					<a href="##"><i class="fa fa-weixin " style="background: #29b01c;"></i></a>
					<a href="##"><i class="fa fa-weibo" style="background: #ea5d5c;"></i></a>

				</div>
				<div class="tishi">
					<div>未注册过的用户将直接为您创建德意账户</div>
				</div>
			</div>
		</div>
	</div>
	<!-- kuaisulogin end -->
	<!-- user end -->
	
</body>
</html>
<script type="text/javascript" src="__AJS__/alert.js"></script>

<script type="text/javascript" src="__JS__/user/login.js"></script>