<include file="Public:header"/>

<body>

<include file="Public:foot"/>


	<!--  / header  -->
	<div class="integral">
		<a href="javascript:history.go(-1)">
			<div class="screening_btn1">
				<span></span>
			</div>
		</a>
		<div class="tegral">抽奖游戏</div>
		<!--<div class="collect_zt_btn1">编辑</div>-->
	</div>

	<!--  / header  -->

	<!--  / warpper  -->
	<div class="warpper">
		<div class="ind_hot">
			<foreach name="list_info" item="v">
				<switch name="v.id">
					<case value="2">
				<a href="/Wx/Games/zajindan.html">
				<div class="ind_hot_img">
					<img src="{$v.list_pic}" width="100%">
				</div>
				<div class="ind_time_h" style="padding:15px;">
					<h5>{$v.list_title}</h5>
					<span>{$v.list_desc}</span>
					<i>前往</i>
				</div>
				</a>
					</case>
				</switch>
			</foreach>

		</div>


		<div class="spacing10"></div>

		<div class="ind_hot">
			<foreach name="list_info" item="v">
				<switch name="v.id">
					<case value="3">
			<a href="/Wx/Games/dazhuanpan.html">
				<div class="ind_hot_img">
					<img src="{$v.list_pic}" width="100%">
				</div>
				<div class="ind_time_h" style="padding:15px;">
					<h5>{$v.list_title}</h5>
					<span>{$v.list_desc}</span>
					<i>前往</i>
				</div>
			</a>
					</case>
				</switch>
			</foreach>


		</div>

		<div class="spacing10"></div>


		<div class="ind_hot">
			<foreach name="list_info" item="v">
				<switch name="v.id">
					<case value="1">
			<a href="/Wx/Games/guaguale.html">
				<div class="ind_hot_img">
					<img src="{$v.list_pic}" width="100%">
				</div>
				<div class="ind_time_h" style="padding:15px;">
					<h5>{$v.list_title}</h5>
					<span>{$v.list_desc}</span>
					<i>前往</i>
				</div>
			</a>
					</case>
				</switch>
			</foreach>
		</div>

		<div class="spacing10"></div>



		<div class="ind_hot">
			<a href="##">
				<div class="ind_hot_img">
					<img src="__IMAGES__/play_img4.jpg" width="100%">
				</div>
				<div class="ind_time_h" style="padding:15px;">
					<h5>红包雨｜瓜分红包</h5>
					<span>现金红包等你来拿</span>
					<i>前往</i>
				</div>
			</a>
		</div>
		<div class="spacing10"></div>




	</div>
	<!--  / warpper  -->

</body>
<script>
$( document ).ready( function()
{

	var mySwiperBanner = new Swiper( '.swiper-container-banner', {
		autoplay: 4000,
		loop: true,
		speed: 500,
		pagination: '.swiper-pagination-banner',
		paginationClickable: true,
		autoplayDisableOnInteraction: false,
	} )

	var mySwiperNav = new Swiper( '.swiper-container-nav', {
		autoplay: 4000,
		slidesPerView: 4,
		speed: 300,
		autoplayDisableOnInteraction: false,
		grabCursor: true,
		paginationClickable: true
	} )

	var mySwiperJf = new Swiper( '.swiper-container-jf', {
//		autoplay: 4000,
		speed: 500,
		slidesPerView: 2,
		spaceBetween: 6,
		paginationClickable: true,
		autoplayDisableOnInteraction: false,
	} )

	var mySwiperNew = new Swiper( '.swiper-container-new', {
//		autoplay: 4000,
		speed: 300,
		slidesPerView: 2.5,
		spaceBetween: 10,
		paginationClickable: true,
		autoplayDisableOnInteraction: false,
	} )

} )
</script>

<script>
$(document ).ready(function(){
	$(".header_n" ).click(function(){
		$(".pro_show_bg" ).stop(true ).fadeIn(500)
		$(".home_menu").stop(true ).animate({"left":"0"},500)
	})
	$(".pro_show_bg").click(function(){
		$(".pro_show_bg" ).stop(true ).fadeOut(500)
		$(".home_menu").stop(true ).animate({"left":"-80%"},500)
	})



})


</script>
</html>
