<include file="Public:header"/>

<body>



	<!--  / warpper  -->
	<div class="warpper" style="padding-bottom: 50px;padding-top: 40px;">

		<div class="culars_yy">

			<div class="culars_yy1 clearfix">
				<a href="javascript:history.go(-1)">
					<div class="screening_btn1">
						<span></span>
					</div>
				</a>

				<div class="screening_yy">
					<ul class="clearfix">
						<li><a href="/wx_detail.html?id=1">商品</a></li>
						<li><a href="/wx_detail.html?id=1#xq">详情</a></li>
						<li class="bord_li"><a href="/wx_product_pj.html">评价</a></li>
					</ul>
				</div>

				<div class="pro_share pro_share_pj"></div>
				<div class="pro_share1">

					<div class="pro_share_rig">

						<span></span>

						<div class="message">
							<ul class="message_ul">
								<include file="Public:left"/>
							</ul>
							<div class="triangle">

							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="products_inner_pj appraise">

			<div class="star_on clearfix">

				<div class="star_left">
					<h5>综合评分</h5>
					<p>98.2%<span><img src="__IMAGES__/top.png" width="100%"> </span></p>

					<div class="star_wu clearfix">
						<div class="star_wu_one">

							<div class="wu_one_1"><img src="__IMAGES__/star.png" width="12"></div>
							<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="12"></div>
						</div>
						<div class="star_wu_one">
							<div class="wu_one_1"><img src="__IMAGES__/star.png" width="12"></div>
							<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="12"></div>
						</div>
						<div class="star_wu_one">
							<div class="wu_one_1"><img src="__IMAGES__/star.png" width="12"></div>
							<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="12"></div>
						</div>
						<div class="star_wu_one">
							<div class="wu_one_1"><img src="__IMAGES__/star.png" width="12"></div>
							<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="12"></div>
						</div>
						<div class="star_wu_one star_wu_one_ban">
							<div class="wu_one_1"><img src="__IMAGES__/star.png" width="12"></div>
							<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="12"></div>
						</div>
					</div>
				</div>

				<div class="star_right">

					<div class="describe">
						<h5>描述相符</h5>
						<div class="describe_img clearfix">

							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="100%"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="100%"></div>
							</div>
							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="100%"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="100%"></div>
							</div>
							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="100%"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="100%"></div>
							</div>
							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="100%"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="100%"></div>
							</div>
							<div class="describe_img1 describe_img5">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="100%"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="100%"></div>
							</div>

						</div>

						<span class="fenshu">4.96</span>
					</div>
					<div class="describe">
						<h5>商品质量</h5>
						<div class="describe_img clearfix">

							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="15"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="15"></div>
							</div>
							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="15"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="15"></div>
							</div>
							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="15"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="15"></div>
							</div>
							<div class="describe_img1">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="15"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="15"></div>
							</div>
							<div class="describe_img1 describe_img5">
								<div class="wu_one_1"><img src="__IMAGES__/star.png" width="15"></div>
								<div class="wu_one_2"><img src="__IMAGES__/star1.png" width="15"></div>
							</div>

						</div>

						<span class="fenshu">4.96</span>
					</div>
				</div>
			</div>

			<div class="products_inner_pja products_inner_bod">
				<span class="bg_red">全部(999)</span>
				<span>快递不错(33)</span>
				<span>服务态度好(45)</span>
				<span>质量不错(36)</span>
				<span>性价比很高(27)</span>
				<span>很划算(414)</span>
			</div>

			<div class="products_inner_pj_list">
				<div class="products_inner_pj_list1 clearfix">
					<h5 class="clearfix"><img src="__IMAGES__/user_tx.jpg" width="30"><b>霸气女王范</b>
						<span class="dengji"></span> <i class="pro_day">2017-08-28</i></h5>

				</div>
				<div class="products_inner_pj_list2">
					<p>安装师傅人特别好，有耐心，收费透明公开，机器外观新 颖，后期使用情况，待更新！</p>
					<span>系列：852E单烟机</span>
				</div>

			</div>
			<div class="products_inner_pj_list ">
				<div class="products_inner_pj_list1 clearfix">
					<h5 class="clearfix"><img src="__IMAGES__/user_tx1.jpg" width="30"><b>勿忘我</b>
						<span class="dengji"></span> <i class="pro_day">2017-08-28</i></h5>

				</div>
				<div class="products_inner_pj_list2">
					<p>第一次购买，满意，推荐！快递超快，第二天就收到了。</p>
					<span>系列：852E单烟机</span>

					<div class="picture">

						<img src="__IMAGES__/ping1.jpg" width="100%"><img src="__IMAGES__/ping2.jpg" width="100%"><img src="__IMAGES__/ping3.jpg" width="100%">

					</div>
				</div>

			</div>
			<div class="products_inner_pj_list">
				<div class="products_inner_pj_list1 clearfix">
					<h5 class="clearfix"><img src="__IMAGES__/user_tx.jpg" width="30"><b>霸气女王范</b>
						<span class="dengji"></span> <i class="pro_day">2017-08-28</i></h5>

				</div>
				<div class="products_inner_pj_list2">
					<p>安装师傅人特别好，有耐心，收费透明公开，机器外观新 颖，后期使用情况，待更新！</p>
					<span>系列：852E单烟机</span>
				</div>

			</div>
			<div class="products_inner_pj_list products_inner_pj_list_2">
				<div class="products_inner_pj_list1 clearfix">
					<h5 class="clearfix"><img src="__IMAGES__/user_tx.jpg" width="30"><b>舞水若</b>
						<span class="dengji"></span> <i class="pro_day">2017-08-28</i></h5>

				</div>
				<div class="products_inner_pj_list2">
					<p>安装师傅人特别好，有耐心，收费透明公开，机器外观新 颖，后期使用情况，待更新！</p>
					<span>系列：852E单烟机</span>
				</div>

			</div>
		</div>

		<div class="products_inner_btn clearfix">
			<a class="pro_innera1 pro_innera11" href="##"><img src="__IMAGES__/pro_inner_kf.png" width="100%"></br>
				<span>客服</span></a>
			<a class="pro_innera1 pro_innera11 pro_innera_s" href="##"><img src="__IMAGES__/pro_inner_sc.png" width="100%" class="img1"><img src="__IMAGES__/pro_inner_sc1.png" width="100%" class="img2"></br>
				<span>收藏</span></a>

			<a class="pro_innera1 pro_innera11" href="shop.html"><img src="__IMAGES__/pro_inner_gw.png" width="100%"></br>
				<span>购物车</span></a>

			<a class="pro_innera3">加入购物车</a>
			<a class="pro_innera2" href="##">立即购买</a>
		</div>
	</div>


	<!--  / warpper  -->

</body>
<script>
$(".pro_innera_s" ).click(function(){
	var _this=$(this)
	if(_this.hasClass("on")){
		_this.removeClass("on")
	}else{
		_this.addClass("on")
	}
})
</script>
</html>
