<include file="Public:header"/>

<body>
	<!--  / warpper  -->
	<div class="warpper" style="padding-bottom: 50px;padding-top: 40px;">

		<div class="culars_yy">

			<div class="culars_yy1 clearfix">

				<a href="javascript:history.go(-1)">
					<div class="screening_btn1">
						<span></span>
					</div>
				</a>
				<div class="screening_yy">
					<ul class="clearfix">
						<li class="bord_li"><a href="/wx_sale_inner.html">商品</a></li>
						<li><a href="/wx_sale_inner.html#xq">详情</a></li>
						<li><a href="/wx_product_pj.html">评价</a></li>
					</ul>
				</div>

				<div class="pro_share"></div>
				<div class="pro_share1">

					<div class="pro_share_rig">

						<span></span>

						<div class="message"><ul class="message_ul">
								<include file="Public:left"/>
							</ul>
							<div class="triangle">

							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="products_inner">

			<div class="partic">
				<div class="swiper-container swiper1">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="__IMAGES__/inner1.jpg" width="100%"></div>
						<div class="swiper-slide"><img src="__IMAGES__/inner2.jpg" width="100%"></div>

					</div>

					<div class="pagination pagination_gr"></div>
				</div>
			</div>

			<div class="products_inner_zi">
				<div class="products_inner_zi1">
					<div class="clearfix products_inner_pa">
						<h5>德意（DE&E）852E智能强排近吸式抽油烟机</h5>
						<div class="model">CXW-150-HJ9868</div>
						<div class="products_inner_pa_ri">
							<img src="__IMAGES__/pa1.png" width="25">
							<div>分享有赏</div>
						</div>
					</div>

					<p><span class="present">特惠价：￥4280</span></p>
					<div class="ginal">原价<i>¥4,500</i></div>
					<div class="products_inner_zi1s clearfix">
						<p>快递：<span>￥10.00</span></p>
						<p>月销1200笔</p>
						<p style="text-align:right;">库存：<span>300</span></p>
					</div>
				</div>
			</div>

			<div class="products_inner1">
				<div class="clearfix products_inner1_con" style="margin-bottom: 10px;">
					<div class="left">承诺</div>
					<div class="right">承诺保价一个月，买贵退差</div>
				</div>
				<div class="clearfix products_inner1_con">
					<div class="left">赠品</div>
					<div class="right clearfix">
						<div class="products_inner1_ri">
							<div class="img"><img src="__IMAGES__/pa2.jpg" width="100%"></div>
							<div>电压力锅</div>
						</div>
						<div class="products_inner1_ri">
							<div class="img"><img src="__IMAGES__/pa3.jpg" width="100%"></div>
							<div>不锈钢锅</div>
						</div>
					</div>
				</div>
			</div>

			<div class="products_inner_zi2">
				<h5><b>配送至：</b><img src="__IMAGES__/map1.png" width="100%" class="map1">
					<span>浙江省</span><span>杭州市</span><span>西湖区</span>
					<br>
					<span style="color: #aaaaaa; padding-left: 52px;">最快2017-11-13日送到</span>
					<img class="pro_more" style="margin-top:12px;" src="__IMAGES__/pro_more.png" width="20">
				</h5>
			</div>

			<div class="products_inner_pj">
				<div class="products_inner_pjt">
					<h5>商品评价<span>(999)</span> <a href="product_pj.html">查看全部 <img src="__IMAGES__/pro_more.png"> </a></h5>

				</div>

				<div class="products_inner_pja">
					<span>快递不错(33)</span>
					<span>服务态度好(45)</span>
					<span>质量不错(36)</span>
					<span>性价比很高(27)</span>
					<span class="inner_pja_hui">价格贵(46)</span>
				</div>

				<div class="products_inner_pj_list">
					<div class="products_inner_pj_list1 clearfix">
						<h5 class="clearfix">

							<div class="portrait"><img src="__IMAGES__/user_tx.jpg" width="100%"></div>

							<b>霸气女王范</b>
							<span class="dengji"></span> <i class="pro_day">2017-08-28</i></h5>

					</div>
					<div class="products_inner_pj_list2">
						<p>安装师傅人特别好，有耐心，收费透明公开，机器外观新 颖，后期使用情况，待更新！</p>
						<span>系列：852E单烟机</span>
					</div>

				</div>
				<div class="products_inner_pj_list products_inner_pj_list_2">
					<div class="products_inner_pj_list1 clearfix">
						<h5 class="clearfix">
							<div class="portrait"><img src="__IMAGES__/user_tx1.jpg" width="100%"></div>
							<b>勿忘我</b>
							<span class="dengji"></span> <i class="pro_day">2017-08-28</i></h5>

					</div>
					<div class="products_inner_pj_list2">
						<p>第一次购买，满意，推荐！快递超快，第二天就收到了。</p>
						<span>系列：852E单烟机</span>

						<div class="picture">

							<img src="__IMAGES__/ping1.jpg" width="100%"><img src="__IMAGES__/ping2.jpg" width="100%"><img src="__IMAGES__/ping3.jpg" width="100%">

						</div>
					</div>

				</div>
			</div>

			<div class="similar  ">

				<h4>相似商品</h4>
				<div class="clearfix">
					<div class="similar_one">

						<img src="__IMAGES__/simi1.jpg" width="100%">

						<div class="similar_txt">
							<h5>德意(DE&E)M5新品 851T欧式抽油烟机</h5>
							<p>¥ 2480 <span>已售3376件</span></p>
						</div>
					</div>
					<div class="similar_one">

						<img src="__IMAGES__/simi2.jpg" width="100%">

						<div class="similar_txt">
							<h5>【新品上市】德意大 吸力抽油烟机 852E</h5>
							<p>¥ 3280 <span>已售4376件</span></p>
						</div>
					</div>
					<div class="similar_one">

						<img src="__IMAGES__/simi3.jpg" width="100%">

						<div class="similar_txt">
							<h5>德意（DE&E）穹顶 油烟机灶具套装</h5>
							<p>¥ 5180 <span>已售3876件</span></p>
						</div>
					</div>
				</div>

			</div>
			<div class="particulars" id="xq">

				<div class="culars"><span class="ticulars"></span>详情</div>

				<div class="part_line"></div>
			</div>

			<div class="proinner_nav">

				<a href="##" class="proinner_nav_on"><span>商品介绍</span></a>
				<a href="##"><span>规格参数</span>
					<i class="mobb1"></i>
					<i class="mobb2"></i>
				</a>
				<a href="##"><span>优惠套装</span></a>
			</div>

			<div class="pro_box_ls">

				<div class="products_inner_con" style="display:block;">
					<div class="inner_con_tit">
						<h5>产品详情 </h5>
						<span></span>
					</div>
					<img src="__IMAGES__/pro_inn.jpg" width="100%">
				</div>
				<div class="products_inner_con">
					<div class="inner_con_tit">
						<h5 class="inner_con_tit">规格参数</h5>
						<span></span>
					</div>
					<img src="__IMAGES__/pa4.jpg" width="100%">
				</div>
				<div class="products_inner_con products_inner_con3">

					<div class="inner_con_tit">
						<h5 class="inner_con_tit">优惠套装</h5>
						<span></span>
					</div>

					<div class="meal">

						<div class="meal_one treat">
							<h5 class="taocan  ">优惠套餐1<span class="meal_money">￥3029.00</span>
								<span class="meal_money1">立省5元</span><img class="pro_more" src="__IMAGES__/pro_more2.png" width="100%">
							</h5>
							<div class="treatment clearfix" style="display: none">

								<div class="tment_img">
									<img src="__IMAGES__/meal1.jpg" width="100%">
								</div>

								<div class="add">

									<img src="__IMAGES__/jia.jpg" width="28">
								</div>
								<div class="tment_img">
									<img src="__IMAGES__/meal2.jpg" width="100%">
								</div>
							</div>
							<div class="meal_set" style="display: block;">

								<div class="meal_set_one clearfix">

									<div class="set_one_img">

										<img src="__IMAGES__/meal1.jpg" width="100%">

									</div>

									<div class="set_one_txt">

										<h5>德意（DE&E）852E智能强排近吸式抽油烟 机(天然气) CXW-150-HJ852E</h5>
										<p>烟灶天然气套餐 烟机灶具</p>

									</div>

								</div>
								<div class="meal_set_one meal_set_one2 clearfix">

									<div class="set_one_img">

										<img src="__IMAGES__/meal2.jpg" width="100%">

									</div>

									<div class="set_one_txt">

										<h5>德意（DE&E）852E智能强排近吸式 抽油烟机</h5>
										<p>烟灶天然气套餐 烟机灶具</p>

									</div>

								</div>

								<div class="add_cart"><a href="##">加入购物车</a></div>
							</div>

						</div>
						<div class="backg"></div>
						<div class="meal_one">
							<h5 class="taocan">优惠套餐2<span class="meal_money">￥3029.00</span>
								<span class="meal_money1">立省5元</span><img class="pro_more" src="__IMAGES__/pro_more2.png" width="100%">
							</h5>
							<div class="treatment clearfix">

								<div class="tment_img">
									<img src="__IMAGES__/meal3.jpg" width="100%">
								</div>

								<div class="add">

									<img src="__IMAGES__/jia.jpg" width="28">
								</div>
								<div class="tment_img">
									<img src="__IMAGES__/meal4.jpg" width="100%">
								</div>
							</div>
							<div class="meal_set">

								<div class="meal_set_one clearfix">

									<div class="set_one_img">

										<img src="__IMAGES__/meal3.jpg" width="100%">

									</div>

									<div class="set_one_txt">

										<h5>德意（DE&E）852E智能强排近吸式抽油烟 机(天然气) CXW-150-HJ852E</h5>
										<p>烟灶天然气套餐 烟机灶具</p>

									</div>

								</div>

								<div class="meal_set_one meal_set_one2 clearfix">

									<div class="set_one_img">

										<img src="__IMAGES__/meal4.jpg" width="100%">

									</div>

									<div class="set_one_txt">

										<h5>德意（DE&E）852E智能强排近吸式抽油烟 机(天然气) CXW-150-HJ852E</h5>
										<p>烟灶天然气套餐 烟机灶具</p>

									</div>

								</div>
								<div class="add_cart"><a href="##">加入购物车</a></div>
							</div>

						</div>

						<div class="backg"></div>

						<div class="meal_one">
							<h5 class="taocan">优惠套餐3<span class="meal_money">￥3029.00</span>
								<span class="meal_money1">立省5元</span><img class="pro_more" src="__IMAGES__/pro_more2.png" width="100%">
							</h5>
							<div class="treatment clearfix">

								<div class="tment_img">
									<img src="__IMAGES__/meal3.jpg" width="100%">
								</div>

								<div class="add">

									<img src="__IMAGES__/jia.jpg" width="28">
								</div>
								<div class="tment_img">
									<img src="__IMAGES__/meal5.jpg" width="100%">
								</div>
							</div>
							<div class="meal_set">

								<div class="meal_set_one clearfix">

									<div class="set_one_img">

										<img src="__IMAGES__/meal3.jpg" width="100%">

									</div>

									<div class="set_one_txt">

										<h5>德意（DE&E）852E智能强排近吸式抽油烟 机(天然气) CXW-150-HJ852E</h5>
										<p>烟灶天然气套餐 烟机灶具</p>

									</div>

								</div>

								<div class="meal_set_one meal_set_one2 clearfix">

									<div class="set_one_img">

										<img src="__IMAGES__/meal5.jpg" width="100%">

									</div>

									<div class="set_one_txt">

										<h5>德意（DE&E）852E智能强排近吸式抽油烟 机(天然气) CXW-150-HJ852E</h5>
										<p>烟灶天然气套餐 烟机灶具</p>

									</div>

								</div>
								<div class="add_cart"><a href="##">加入购物车</a></div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
		<div class="products_inner_btn clearfix">
			<a class="pro_innera1 pro_innera11" href="##"><img src="__IMAGES__/pro_inner_kf.png" width="100%"></br>
				<span>客服</span></a>
			<a class="pro_innera1 pro_innera11" href="##"><img src="__IMAGES__/pro_inner_sc.png" width="100%"></br>
				<span>收藏</span></a>

			<a class="pro_innera1 pro_innera11" href="##"><img src="__IMAGES__/pro_inner_gw.png" width="100%"></br>
				<span>购物车</span></a>

			<a class="pro_innera3">加入购物车</a>
			<a class="pro_innera2" href="##">立即购买</a>
		</div>

		<div class="pro_show_bg">

		</div>
		<div class="pro_share_con">
			<div class="inner_con_tit">
				<h5 class="inner_con_tit">分享到</h5>
				<span></span>
			</div>
			<div class="pro_share_icon">
				<a href="##"><i class="fa fa-qq"></i></a>
				<a href="##"><i class="fa fa-weixin " style="background: #29b01c;"></i></a>
				<a href="##"><i class="fa fa-weibo" style="background: #ea5d5c;"></i></a>

			</div>

		</div>

		<div class="show_div show_jf">
			<div class="show_div_con">
				<h5>商城优惠券</h5>
				<div class="show_div_cons ">
					<div class="user3_list">
						<div class="user_r3_j1">
							<span class="jiaqian"><b>￥</b><i>100</i></span>
							<p>有效期 2017.08.29-2017.09.30</p>
							<div class="user_r3_j2">
								现金抵用券<br>
								<span>消费满2000元使用</span>
							</div>

						</div>

						<div class="user_r3_j3">
							领取
						</div>

					</div>
					<div class="user3_list">
						<div class="user_r3_j1">
							<span class="jiaqian"><b>￥</b><i>100</i></span>
							<p>有效期 2017.08.29-2017.09.30</p>
							<div class="user_r3_j2">
								现金抵用券<br>
								<span>消费满2000元使用</span>
							</div>

						</div>

						<div class="user_r3_j3">
							领取
						</div>

					</div>
					<div class="user3_list">
						<div class="user_r3_j1">
							<span class="jiaqian"><b>￥</b><i>100</i></span>
							<p>有效期 2017.08.29-2017.09.30</p>
							<div class="user_r3_j2">
								现金抵用券<br>
								<span>消费满2000元使用</span>
							</div>

						</div>

						<div class="user_r3_j3">
							领取
						</div>

					</div>

				</div>
			</div>
			<a href="##">完成</a>
		</div>

		<div class="show_div show_jifen">
			<div class="show_div_con">
				<h5>积分</h5>
				<div class="show_div_cons ">
					<div class="show_jjfens">
						<p><span>积分</span>购买可获得400积分</p>
					</div>
				</div>
			</div>
			<a href="##">完成</a>
		</div>

		<div class="show_div show_xz">
			<div class="show_div_con">
				<div class="show_xz_t clearfix">
					<img src="__IMAGES__/order_pro2.jpg" width="100">
					<h5>¥4000.00</h5>
					<p>库存<span>30</span>件</p>
					<p><b>配送至：</b><span>西湖区</span><span>已选</span>天然气</p>
				</div>
				<div class="show_div_cons" style="margin-top:92px; height:258px;">

					<div class="show_xza">
						<h5>配送区域<span>(配送地可能会影响库存，请正确选择)</span></h5>
						<p><img src="__IMAGES__/map1.png" width="15"> <span>浙江省</span><span>杭州市</span><span>西湖区</span>
							文三路 <i class="fa fa-angle-right"></i></p>
						<span>19:00前付款，承诺11月20送到，可选送货时间</span>
					</div>
					<div class="show_xzb">
						<p><b>颜色分类</b></br>
							<span class="show_xzb_on">不锈钢色</span>
						</p>
						<p><b>系列</b></br>
							<span class="show_xzb_on">852E单烟机</span><span>825E+715B烟灶套装（天然气）</span><span>825E+715B烟灶套装（天然气） </span>
						</p>

						<div class="value">增值服务</div>
						<p class="value_p"><img src="__IMAGES__/safe.png" width="100%" class="safety"> <b>全面保障</b>
							<i class="accident">无理由保修3年含性能/意外保障</i>  </br>
							<span class="show_xzb_on">全保修三年 <i class="i_line"></i> ￥ 144.11 <i class="i_you">已省￥27</i> </span><span>全保修五年</span>
						</p>
						<p><img src="__IMAGES__/safe2.png" width="100%" class="safety"> <b>厂保延长</b>   </br>
							<span class="">延长保2年<i class="i_line"></i> ￥ 129.00</span><span>延长保3年<i class="i_line"></i> ￥ 299.00</span>
						</p>
						<p class="value_p"><img src="__IMAGES__/safe3.png" width="100%" class="safety"> <b>意外保护</b></br>
							<span class="">意外保2年 <i class="i_line"></i> ￥ 49.00 <i class="i_you">已省￥20</i></span><span>意外保3年<i class="i_line"></i> ￥ 55.00</span>
						</p>
					</div>

					<div class="show_xzc">
						<h5>购买数量
							<span class="pro_jia">+</span><span class="pro_num">1</span><span class="pro_jian">-</span>
						</h5>
					</div>

				</div>
			</div>
			<div class="show_xzd clearfix">
				<a href="##" style="background: #ff9000;">加入购物车</a>
				<a href="##">立即购买</a>
			</div>
		</div>

		<div class="show_div show_fw">
			<div class="show_div_con">
				<h5>德意商城服务</h5>
				<div class="show_div_cons">
					<div class="show_fws">
						<p><img src="__IMAGES__/pro_fw1.svg" width="20">德意唯一官方商城
							<span>德意承诺送货入户</span>
						</p>
						<p><img src="__IMAGES__/pro_fw2.svg" width="20">全国联保
							<span>消费者购买带有“预约安装”标识的商品后，服务商将在签收商品后的24小时内主动联系消费者，预约提供上门安装的时间。</span>
						</p>
						<p><img src="__IMAGES__/pro_fw3.svg" width="20">全场包邮
							<span>该商品由中国人保承保正品保证险</span>
						</p>
						<p><img src="__IMAGES__/pro_fw4.svg" width="20">七天无理由退换
							<span>消费者在满足7天无理由退换货申请条件的前提下，可以提出“7天无理由退换货”的申请</span>
						</p>
					</div>
				</div>
			</div>
			<a href="##">完成</a>
		</div>

		<div class="load_dh">
			<div class="load_dh_bg"></div>
			<div class="load8">

				<div class="load8-container load81">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>

				<div class="load8-container load82">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>

				<div class="load8-container load83">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>

			</div>
		</div>

	</div>
	<!--  / warpper  -->

</body>
<script>

$( document ).ready( function()
{

	var mySwiper = new Swiper( '.swiper1', {
		pagination: '.pagination_gr',
		loop: true,
		autoplay: 3000,
		spaceBetween: 0,
		paginationClickable: true,
	} )

	//	     1优惠卷
	$( '.pro_show_bg' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeOut( 300 );
		$( '.pro_share_con' ).stop( true, true ).fadeOut( 300 );

		$( '.show_div' ).stop( true, true ).animate( { bottom: "-425px" }, 500 );
		$( 'body' ).removeClass( 'body_on' );
	} )
	$( '.show_div>a' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeOut( 300 );
		$( '.show_div' ).stop( true, true ).animate( { bottom: "-425px" }, 500 );
		$( 'body' ).removeClass( 'body_on' );
	} )

	$( '.pro_share' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeIn( 300 );
		$( '.pro_share_con' ).stop( true, true ).fadeIn( 300 );
	} )

	$( '.products_inner_jf1' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeIn( 300 );
		$( '.show_jf' ).stop( true, true ).animate( { bottom: "0" }, 500 );
		$( 'body' ).addClass( 'body_on' );
	} )

	$( '.products_inner_zi2' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeIn( 300 );
		$( '.show_xz' ).stop( true, true ).animate( { bottom: "0" }, 500 );
		$( 'body' ).addClass( 'body_on' );
	} )

	$( '.pro_inner_cs1 h5' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeIn( 300 );
		$( '.show_cs1' ).stop( true, true ).animate( { bottom: "0" }, 500 );
		$( 'body' ).addClass( 'body_on' );
	} )

	$( '.insurance' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeIn( 300 );
		$( '.show_fw' ).stop( true, true ).animate( { bottom: "0" }, 500 );
		$( 'body' ).addClass( 'body_on' );
	} )

	$( '.show_xzb p span' ).click( function()
	{
		$( this ).parent().find( 'span' ).removeClass( 'show_xzb_on' );
		$( this ).addClass( 'show_xzb_on' );
	} )
	$( '.products_inner_jf2' ).click( function()
	{
		$( '.pro_show_bg' ).stop( true, true ).fadeIn( 300 );
		$( '.show_jifen' ).stop( true, true ).animate( { bottom: "0" }, 500 );
		$( 'body' ).addClass( 'body_on' );
	} )

	var sco = $( ".proinner_nav" ).offset().top;

	$( '.proinner_nav a' ).click( function()
	{
		var s7 = $( this ).index();
		$( '.proinner_nav a' ).removeClass( 'proinner_nav_on' );
		$( this ).addClass( 'proinner_nav_on' );

		$( '.products_inner_con' ).stop( true ).fadeOut( 0 );
		$( '.products_inner_con' ).eq( s7 ).stop( true ).fadeIn( 300 );
		$( "html,body" ).animate( { scrollTop: sco - 40 }, 1000 )
	} )

	$( window ).scroll( function()
	{

		if( $( window ).scrollTop() > sco )
		{
			$( ".proinner_nav" ).addClass( "proinn_fix" )

		}
		else
		{
			$( ".proinner_nav" ).removeClass( "proinn_fix" )
		}

	} )

	$( ".screening_yy ul li " ).click( function()
	{
		$( ".screening_yy ul li" ).removeClass();
		$( this ).addClass( "bord_li" );

	} )

	var clickNumber = 0;
	$( '.pro_share_rig' ).click( function()
	{
		if( clickNumber == 0 )
		{
			$( this ).find( ".message" ).fadeIn();
			clickNumber = 1;
		}
		else
		{

			$( this ).find( ".message" ).fadeOut();
			clickNumber = 0;
		}

	} )

	$( '.meal_one' ).click( function()
	{

		if( $( this ).hasClass( "treat" ) )
		{

			$( ".meal_one" ).removeClass( "treat" )
			$( ".meal_set" ).stop( true ).slideUp( 500 )
			$( ".treatment" ).stop( true ).slideDown( 500 )

		}
		else
		{
			$( ".meal_one" ).removeClass( "treat" )
			$( this ).addClass( "treat" );

			$( ".meal_set" ).stop( true ).slideUp( 500 )
			$( this ).find( ".meal_set" ).stop( true ).slideDown( 500 )
			$( ".treatment" ).stop( true ).slideDown( 500 )
			$( this ).find( ".treatment" ).stop( true ).slideUp( 500 )

		}

	} )

} )

</script>
</html>
