<include file="Public:head"/>
<style>
    p{
        font-size:20px;
        text-align:center;
        cursor:pointer;
    }
    .tabs .tabs_a{
        padding: 12px 45px;
    }
</style>
<div class="container">
    <div class="inner clearfix">
        <include file="Public:left"/>
        <!-- end content-left -->
        <div class="content-right fl">
            <h1 class="content-right-title">抽奖列表</h1>

            <form action="{:U('/Admin/activityrecord/activitylist')}" method="get">
                <div class="tables-searchbox newcearchbox">
                    <input type="text" placeholder="用户账号|收件人|填写手机号" class="input" name="name" value="{$name}">
                    <select name="cate" class="select" style="width: 150px" >
                        <option value=""> 请选择-活动类型</option>
                        <option value="" > -全部-</option>
                        <option value="1"> 挂挂乐</option>
                        <option value="2"> 砸金蛋</option>
                        <option value="3"> 大转盘</option>

                    </select>
                    <input type="hidden" class="input mini" name="status" value="{$status}">
                    <button class="btn btn-primary" style="line-height:26px;"><i class="gicon-search white"></i>查询
                    </button>
                </div>
            </form>
            <!-- end tabs -->
            <div class="tabs clearfix mgt10">

                <a href="{:U('Admin/activityrecord/activitylist',array('name'=>$name,'cate'=>$cate))}"
                   class="<eq name="status" value="0">active</eq> tabs_a fl">全部({$count12|default='0'})</a>
                <a href="{:U('Admin/activityrecord/activitylist',array('name'=>$name,'cate'=>$cate,'status'=>1))}"
                   class="<eq name="status" value="1">active</eq> tabs_a fl">优惠券({$arr_Array2[1][sum]|default='0'})</a>
                <a href="{:U('Admin/activityrecord/activitylist',array('name'=>$name,'cate'=>$cate,'status'=>2))}"
                   class="<eq name="status" value="2">active</eq> tabs_a fl">积分({$arr_Array2[2][sum]|default='0'})</a>
                <a href="{:U('Admin/activityrecord/activitylist',array('name'=>$name,'cate'=>$cate,'status'=>3))}"
                   class="<eq name="status" value="3">active</eq> tabs_a fl">积分商品({$arr_Array2[3][sum]|default='0'})</a>
                <a href="{:U('Admin/activityrecord/activitylist',array('name'=>$name,'cate'=>$cate,'status'=>4))}"
                   class="<eq name="status" value="4">active</eq> tabs_a fl">未中奖({$arr_Array2[4][sum]|default='0'})</a>

            </div>
            <table class="wxtables mgt10" style="text-align:center;">
                <colgroup>
                    <col width="2%">
                    <col width="5%">
                    <col width="9%">
                    <col width="15%">
                    <col width="9%">
                    <col width="8%">
                    <col width="6%">
                    <col width="9%">
                    <col width="8%">
                    <col width="8%">
                    <col width="5%">

                </colgroup>
                <thead>
                <tr class="po_list">
                    <td><i class="icon_check"></i></td>
                    <td>ID</td>
                    <td>用户账号</td>
                    <td>中奖名称</td>
                    <td>所在地区</td>
                    <td>详细地址</td>
                    <td>收件人</td>
                    <td>手机号</td>
                    <td>中奖时间</td>
                    <td>领取状态</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <foreach name="lists" item="v">
                <tr>
                    <td><input type="checkbox" class="checkbox table-ckbs" data-id="{$v.id}"></td>
                    <td>{$v.id}</td>
                    <td>{$v.telephone}</td>
                    <td align="left">{$v.goods_name}</td>
                    <td align="left">{$v.address}</td>
                    <td align="left">{$v.del_add}</td>
                    <td>{$v.realname}</td>
                    <td>{$v.tel}</td>
                    <td>{$v.addtime|date='Y-m-d H:i:s',###}</td>
                    <td>
                        <if condition="$v['status'] eq 0">
                            <p style="color: red" class="change_status" data-id="{$v.id}" title="已领取" data-item="update" data-value="1">×</p>

                            <else/>
                            <p style="color: green" class="change_status" data-id="{$v.id}" title="未领取" data-item="update" data-value="0">√</p>
                        </if>
                    </td>

                    <td>
                        <a href="javascript:;" class="btn btn-danger dange" onclick="del({$v.id})"  data-item="del" data-value="{$v.id}" title="删除"><i class="gicon-trash white"></i></a>
                    </td>
                </tr>
                </foreach>
                </tbody>
            </table>
            <!-- end wxtables -->
            <div class="tables-btmctrl clearfix">
                <div style="margin:4px 0px;">
                    <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a>
                    <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a>
                    <a href="javascript:;" class="btn btn-danger change_status"  data-item="del" data-value="1" title="删除"><i class="gicon-trash white"></i></a>

                </div>
                <div>
                    <div class="pages" style="width:100%;margin-left:0px;"> {$show}</div>
                </div>
                <!-- end tables-btmctrl -->
            </div>

            <!-- end content-right -->
        </div>
    </div>
</div>
<include file="Public:foot"/>
<!--上架 下架 删除 1-->
<script>
    $(".change_status").click(function () {
        var item  = $(this).attr("data-item");
        var value = $(this).attr("data-value");
        var title = $(this).attr("title");
        var ids   = "";
        $(".table-ckbs:checked").each(function (i) {
            ids += $(this).attr("data-id") + "-"
        })
        if(!ids){
            var ids = $(this).attr("data-id");
        }
        if (!ids) {
            alert("请选中需要删除的！"); return false;
        }
        dialog.showTips("确定要进行"+title+"的操作吗?", "firm", function () {
            var data = {item: item,data:value, ids: ids};
            // console.log(data);
            $.post("{:U('/Admin/activityrecord/activitylist')}", data , function (g) {
                if (g.status == 1) {
                        dialog.showTips(g.info, "", 1);return false;
                } else {
                    dialog.showTips(g.info, "warn");return false;
                }
            },"json")
        })
    });

    //单个删除
    function  del(id) {
        var item  = $(".dange").attr("data-item");
        var value = $(".dange").attr("data-value");
        var title = "删除";
        var ids   = id;

        dialog.showTips("确定要进行"+title+"的操作吗?", "firm", function () {
            var data = {item: item,data:value, ids: ids};
            // console.log(data);
            $.post("{:U('/Admin/activityrecord/activitylist')}", data , function (g) {
                if (g.status == 1) {
                    dialog.showTips(g.info, "", 1);return false;
                } else {
                    dialog.showTips(g.info, "warn");return false;
                }
            },"json")
        })
    }


</script>
<!--上架 下架 删除 2-->
