<include file='Public:header'/>
<body>
<include file='Public:top'/>
<!--header-->

<div class="warpper">

    <div class="inner_title">
        <div class="container">
            <h5>首页</h5><i class="fa fa-angle-right"></i><span>产品中心</span>
        </div>
    </div>

    <div class="products">
        <div class="container">
            <div class="row clm25">
                <div class="col-sm-2 clp25">
                    <div class="products_class">
                        <img src="__IMAGES__/pro_class_1.jpg" width="100%">

                        <div class="might">您可能感兴趣的是:</div>
                        <a href="products_inner.html"> <div class="terest">

                            <div class="terest_img"><img src="__IMAGES__/tehui1.jpg" width="100%"></div>

                            <div class="terest_txt">

                                <h5>近吸式抽油烟机</h5>
                                <p>下单送双立人套锅+刀具，限量抢购!</p>
                            </div>
                        </div></a>
                        <a href="products_inner.html"> <div class="terest">

                            <div class="terest_img"><img src="__IMAGES__/tehui2.jpg" width="100%"></div>

                            <div class="terest_txt">

                                <h5>穹顶式 抽油烟机套餐</h5>
                                <p>下单送双立人套锅+刀具，限量抢购!</p>
                            </div>
                        </div></a>

                    </div>
                </div>
                <div class="col-sm-10 clp25">
                    <div class="products_con">

                        <div class="pro_class">
                            <h5>
                                <i>产品系列：</i><span>全部</span><span>V8系列</span><span>穹顶式系列</span><span>Q5系列</span><span>T5系列</span><span>蓝极光Ⅱ系列</span><span>蓝精灵系列</span>
                                <span>蓝立方系列</span><span>欧尚系列</span><span>蒸享系列</span><span>铭典系列</span><span>铭韵系列</span><span>3D超净洗碗机</span><span>燃气热水器</span>
                                <span>电热水器</span>
                                <strong><b>更多</b><img src="__IMAGES__/mm.png" width="15"> </strong>
                            </h5>
                            <h5><i>产品分类：</i><span>油烟机</span><span>烟灶消套装</span><span>集成灶</span></h5>
                            <h5><i>安装位置：</i><span>侧吸式</span><span>顶吸式</span><span>壁挂式</span><span>下吸式</span></h5>
                            <h5><i>能效等级：</i><span>一级</span><span>二级</span><span>三级</span></h5>

                            <h5><i>产品价格：</i><span>0-1000</span><span>10-2000</span><span>2000-3000</span><span>3000-5000</span><span>5000以上</span>
                            </h5>
                            <h5><i>燃料种类：</i><span>天然气</span><span>液化气</span><span>人工煤气</span><span>气电两用</span></h5>
                        </div>

                        <div class="pro_list_top clearfix">
                            <div class="pro_list_tops">
                                <span>综合排序</span>
                            </div>
                            <div class="pro_list_tops">
                                <span>上市时间</span><i class="fa fa-caret-down"></i>
                            </div>
                            <div class="pro_list_tops">
                                <span>价格</span><b><i class="fa fa-caret-up pro_list_tops_hover"></i><i class="fa fa-caret-down"></i></b>
                            </div>
                            <div class="pro_list_tops ktlb">
                                <span>能效等级</span>
                                <i></i>
                                <ul>
                                    <li>一级</li>
                                    <li>二级</li>
                                    <li>三级</li>
                                </ul>
                            </div>
                            <div class="pro_list_tops">
                                <input type="checkbox" class="j_checkbox"><span>仅显示有货</span>
                            </div>

                            <div class="fan">
                                1/89
                                <span class="s"> <i class="fa fa-angle-left"></i> </span>
                                <a href="product.html"><span class="x"><i class="fa fa-angle-right"></i> </span></a>
                            </div>
                        </div>

                        <div class="products_box2">
                            <div class="row clm6">
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">无货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_1.png" width="100%">
                                            </div>

                                            <div class="sec3_zi">
                                                <h5>CXW-150-HJ9868</h5>
                                                <span>¥ <font>2980.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>近吸式油烟机 V8系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_2.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>JZY(T.R)-SE3206</h5>
                                                <span>¥ <font>4000.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式家用灶具 蓝极光Ⅱ系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_3.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>ZTD100-7</h5>
                                                <span>¥ <font>4010.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式消毒柜 典尚系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <div class="sec3_list_t">
                                                <b class="youh">优惠</b>
                                                <b class="xinp">7折</b>
                                            </div>
                                            <span class="youhuo">无货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_4.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>ZA6603</h5>
                                                <span>¥ <font>4220.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式电蒸箱 蒸享系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row clm6">
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_5.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>KWS2501</h5>
                                                <span>¥ <font>3999.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式电烤箱 KWS2501</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_list_t">
                                                <b class="youh">新品</b>
                                                <b class="xinp">新品</b>
                                            </div>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_6.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>MA8001</h5>
                                                <span>¥ <font>3750.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式微波炉 铭韵系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_7.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>WQP8-DS5615</h5>
                                                <span>¥ <font>3865.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式洗碗机 3D超净洗碗机</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_8.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>ESH60-EQ631L</h5>
                                                <span>¥ <font>2980.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>热水器 电热水器</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row clm6">
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">无货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_1.png" width="100%">
                                            </div>

                                            <div class="sec3_zi">
                                                <h5>CXW-150-HJ9868</h5>
                                                <span>¥ <font>2980.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>近吸式油烟机 V8系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_2.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>JZY(T.R)-SE3206</h5>
                                                <span>¥ <font>4000.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式家用灶具 蓝极光Ⅱ系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_3.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>ZTD100-7</h5>
                                                <span>¥ <font>4010.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式消毒柜 典尚系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <div class="sec3_list_t">
                                                <b class="youh">优惠</b>
                                                <b class="xinp">7折</b>
                                            </div>
                                            <span class="youhuo">无货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_4.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>ZA6603</h5>
                                                <span>¥ <font>4220.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式电蒸箱 蒸享系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row clm6">
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_5.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>KWS2501</h5>
                                                <span>¥ <font>3999.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式电烤箱 KWS2501</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_list_t">
                                                <b class="youh">新品</b>
                                                <b class="xinp">新品</b>
                                            </div>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_6.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>MA8001</h5>
                                                <span>¥ <font>3750.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式微波炉 铭韵系列</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_7.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>WQP8-DS5615</h5>
                                                <span>¥ <font>3865.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>嵌入式洗碗机 3D超净洗碗机</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 clp6">
                                    <a href="products_inner.html">
                                        <div class="sec3_list">
                                            <span class="youhuo">有货</span>
                                            <div class="sec3_img"><img src="__IMAGES__/pro_list_8.png" width="100%">
                                            </div>
                                            <div class="sec3_zi">
                                                <h5>ESH60-EQ631L</h5>

                                                <span>¥ <font>2980.0</font><i>评论：136</i></span>
                                                <hr>
                                                <p>热水器 电热水器</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="page page1 page2  clearfix">

                                <span class="first1">首页</span>
                                <span class="red_bg"> 1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>...</span>
                                <span class="first1">尾页</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<include file='Public:footer'/>
<include file='Public:menu_right'/>
</body>
<script language="javascript" src="__JS__/product.js"></script>
</html>
