<include file="Public:head"/>

<style type="text/css">  
    .bar {  
        margin-top:10px;  
        height:10px;  
        max-width: 300px;  
        background: green;  
    }  
     p {
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }
</style>  
<div class="container">
  <div class="inner clearfix"> <include file="Public:left" />
    <div class="content-right fl">

      <h1 class="content-right-title">积分分类列表</h1>
      <input type="hidden" id="update_id">
      <div class="alert alert-info disable-del"> 目前拥有 <span style="font-size:16px;">{$num}</span>个分类。 <a href="javascript:;" class="alert-delete" title="隐藏"><i class="gicon-remove"></i></a> </div>
      <form action="" method="get">
              

                <input type="text" style="width:120px;" name="title" class="input" placeholder="分类/内容" value="{$title}">
                <input type="text" name="id" class="input xmini" placeholder="ID" value="{$id}">
                <!-- <input type="text" style="width:120px;" placeholder="发布时间开始" style="background-color:#FFFFFF;" class="input" name="release_time" value="{$release_time}" maxlength="19" readonly>-
                <input type="text" style="width:120px;" placeholder="发布时间结束" style="background-color:#FFFFFF;" class="input" name="release_time_end" value="{$release_time_end}" maxlength="19" readonly>
                &nbsp;&nbsp;&nbsp; -->
                <b style="font-size: 15px;">状态：</b>  
                <input type="radio" name="e_status" value="0" <if condition="$e_status eq 0"> checked</if>><span style="font-size: 13px;">全部</span>&nbsp;&nbsp;
                <input type="radio" name="e_status" value="1" <if condition="$e_status eq 1">checked</if>><span style="color:green;font-size: 20px;">√</span>&nbsp;&nbsp;
                <input type="radio" name="e_status" value="2" <if condition="$e_status eq 2">checked</if>><span style="color:red;font-size: 20px;">x</span>
                &nbsp;&nbsp;&nbsp;
         
          
                <button class="btn btn-primary" id="search_m" style="vertical-align:-2px;"><i class="gicon-search white"></i>查询</button>
            </form>
      <div class="tablesWrap">
        <!-- <div class="tables-searchbox">
          <div class="fl">
          <a href="javascript:;" class="btn btn-success fl BtnAddClass">添加分类</a>
          </div>
        </div> -->
        <!-- end tables-searchbox -->
        <table class="wxtables" style="text-align:center;">
          <colgroup>
          <col width="6%">
          <col width="10%">
          <col width="30%">
          <col width="10%">
          <col width="5%">
          <col width="6%">
          <col width="15%">
          <col width="15%">
          </colgroup>
          <thead>
            <tr>
              <td>id</td>
              <td>分类</td>
              <td>内容</td>
              <td>积分</td>
              <td>状态</td>
              <td>排序</td>
              <td>修改时间</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <foreach name="list" item="vo">
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.integral_type}</td>
                <td>{$vo.title}</td>
                <td>{$vo.integral}</td>
                <td>
                    <if condition="($vo.status eq 0)">
                        <p style="color: green" class="change_status"  data-id="{$vo.id}" title="停用" data-data="1">√</p>
                        <else/>
                        <p style="color: red" class="change_status"   data-id="{$vo.id}" title="启用" data-data="0">×</p>
                    </if>
                </td>
                <td>{$vo.sorts}</td>
                <td>{$vo.update_time}</td>
                <td>
                    <a href="JavaScript:void(0);" onclick="update_type(id);" id="{$vo.id}" class='btn btn-warning' title="修改"><i class="gicon-edit white"></i></a>
                    <a href="JavaScript:void(0);" onclick="del_type(id);" id="{$vo.id}" class='btn btn-danger' title="删除"><i class="gicon-trash white"></i></a>
                </td>
              </tr>
              
            </foreach>
          </tbody>
        </table>
        <!-- end wxtables -->
        <div class="tables-btmctrl clearfix">
          <div class="fl">
            <div class="pages" style="width:100%;margin-left:0px;"> {$page} </div>
            <!-- end paginate -->
          </div>
        </div>
        <!-- end tables-btmctrl -->
      </div>
      <!-- end tablesWrap -->
    </div>
    <!-- end content-right -->
  </div>
</div>
<include file="Public:foot"/>
<div id="albums-overlay" class="disshow"></div>
<div class="jbox addfenlei disshow" style="height:auto;top: 38%;">
  <div class="jbox-title">
    <div class="jbox-title-txt">修改分类</div>
    <a href="javascript:;" class="jbox-close cancle"></a></div>
  <div class="jbox-container" style="height: auto;">
    <div class="formitems">
      <label class="fi-name"><span class="colorRed"></span>分类：</label>
      <div class="form-controls">
        <label>
          <input type="text" name="integral_type" class="input">
          <span class="red">*必填</span> </label>
        <span class="fi-help-text"></span></div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed"></span>内容：</label>
      <div class="form-controls">
        <label>
          <textarea name="titles" id="" cols="27" rows="5"></textarea>
          <span class="red">*必填</span> </label>
        <span class="fi-help-text"></span></div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed"></span>积分：</label>
      <div class="form-controls">
        <label>
          <input type="text" name="integral" class="input">
          <span class="red">*必填</span> </label>
        <span class="fi-help-text"></span></div>
    </div>
    <div class="formitems">
        <label class="fi-name"><span class="colorRed"></span>启用：</label>
        <div class="form-controls">
            <div class="radio-group" style="padding-top:0px;">
                <label><input id="status1" type="radio" name="status" value="0" checked>启用</label>
                <label><input id="status2" type="radio" name="status" value="1">禁用</label>
            </div>
        </div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed"></span>排序：</label>
      <div class="form-controls">
        <label>
          <input type="text" name="sorts" value="0" class="input" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
          <span class="red">*必填</span> </label>
        <span class="fi-help-text"></span></div>
    </div>
  </div>
  <div class="jbox-buttons">
  <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="add_vedio">确定</a>
  <a href="javascript:void(0);" class="jbox-buttons-ok btn cancle">取消</a></div>
</div>
<script type="text/javascript" src="__JS__/jquery-form.js"></script>
<script type="text/javascript">
$(".cancle").click(function(){
    $(this).parent().parent('.jbox').hide();
    $('#albums-overlay').hide();
    window.location.reload();
})
</script>
<script>
    $(".BtnAddClass").click(function(){
        $('.addfenlei').show();
        $('#albums-overlay').show();
    })
    //获取修改信息
    function update_type(id){
      $.post("{:U('Admin/integralcate/integral_type_info')}", {id:id}, function (data) {
          $('input[name="integral_type"]').val(data.integral_type);
          $('textarea[name="titles"]').text(data.title);
          $('input[name="sorts"]').val(data.sorts);
          $('input[name="integral"]').val(data.integral);
          $('#update_id').val(data.id);
          if(data.status == 0){
            $("#status1").attr("clecked","clecked");
          }else{
            $("#status2").attr("checked","checked");
          }
          $('.addfenlei').show();
          $('#albums-overlay').show();
      })
    }
    //添加或修改
    $("#add_vedio").click(function(){
      var array =$("[name='type_price']");
      var type_price = '';
      for(var i=0;i<array.length;i++){
        type_price += $(array[i]).val()+',';
      }
      var array = {
        'sorts': $('input[name="sorts"]').val(),
        'integral_type':  $('input[name="integral_type"]').val(),
        'status': $('input[name="status"]:checked').val(),
        'title' :$('textarea[name="titles"]').val(),
        'integral' :$('input[name="integral"]').val(),
      }
      var id=$("#update_id").val();
      $.post("{:U('Admin/integralcate/integral_type_addOrUpdate')}", {array:array,id:id}, function (data) {
          if (data.status == 1) {
              dialog.showTips(data.info, "", 1);
              return false;
          } else {
              dialog.showTips(data.info, "warn");
              return false;
          }
      })
    })
    //删除问题
    function del_type(id){
      dialog.showTips("确定要进行删除的操作吗?", "firm", function () {
            $.ajax({
                url: "{:U('Admin/integralcate/integral_type_del')}",
                type: "post",
                dataType: "json",
                data: {
                    id:id,
                }
            }).done(function (res) {
                if (res.status == 1) {
                    dialog.showTips(res.info,"",1); return false;
                } else {
                    dialog.showTips(res.info,"warn"); return false;
                }
            })//
        })
    }
    //修改状态
    $(".change_status").click(function () {
        var id = $(this).attr("data-id");
        var data = $(this).attr("data-data");
        var title = $(this).attr("title");
        dialog.showTips("确定要进行"+title+"的操作吗?", "firm", function () {
            $.post("{:U('Admin/integralcate/integral_type_status')}", {id:id,data:data}, function (data) {
                if (data.status == 1) {
                    dialog.showTips(data.info, "", 1);
                    return false;
                } else {
                    dialog.showTips(data.info, "warn");
                    return false;
                }
            })
        })
    });
    
</script>


 
 
