<div class="pro_share1">
    <div class="pro_share_rig">
        <span></span>
        <div class="message" style="display: none;"><ul class="message_ul">
            <li><a href="user_new.html"><img src="__IMAGES__/mes1.png" width="100%"> 消息 <i>1</i></a></li>
            <li><a href="user.html"><img src="__IMAGES__/mes6.png" width="100%"> 个人中心</a></li>
            <li><a href="index.html"><img src="__IMAGES__/mes2.png" width="100%"> 首页</a></li>
            <li><a href="search.html"><img src="__IMAGES__/mes3.png" width="100%"> 搜索</a></li>
            <li><a href="collect.html"><img src="__IMAGES__/mes4.png" width="100%"> 我的收藏</a></li>
            <li><a href="browse.html"><img src="__IMAGES__/mes5.png" width="100%"> 浏览记录</a></li>
        </ul>
            <div class="triangle">
            </div>
        </div>
    </div>
</div>