<include file="Public:head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/index1.css">
	<script src="__JS__/jquery-1.11.1.min.js"></script>
	<script src="__JS__/bootstrap.js"></script>
	<script src="__JS__/jquery-ui.min.js"></script>
	<script src="__JS__/easing.js"></script>
	<script src="__JS__/index.js"></script>
	<script src="__JS__/swiper-3.4.1.min.js"></script>
	<script src="__JS__/main.js"></script>

	<link rel="stylesheet" type="text/css" href="__CSS__/swiper-3.4.1.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.css">




	<link href="__HEAD__/cropper.min.css" rel="stylesheet">
	<link href="__HEAD__/sitelogo.css" rel="stylesheet">
	<script src="__HEAD__/cropper.js"></script>
	<script src="__HEAD__/sitelogo.js"></script>
</head>