<include file="Public:head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
    <!--d地图-->
    <script src="__JS__/zepto.min.js"></script>
    <script src="__JS__/base.js"></script>
    <script src="__JS__/sidebar.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/ws.css">
    <!--d地图-->
    <!--<link rel="stylesheet" type="text/css" href="__CSS__/swiper-3.4.1.min.css">-->
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/index1.css">

</head>