<include file="Public:head"/>
    <link rel="stylesheet" href="__CSS__/bootstrap.css" type="text/css"/>
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/index1.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>