<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no" />

<title>德意微商城</title>
<meta name="keywords" content=" " />
<meta name="description" content=" " />

	<link rel="shortcut icon" href="__IMAGES__/logo.ico"/>


<link rel="stylesheet" type="text/css" href="__GGLCSS__/bootstrap.css">
<script src="__GGLJS__/jquery-1.11.1.min.js"></script>
<script src="__GGLJS__/bootstrap.js"></script>
<script src="__GGLJS__/jquery-ui.min.js"></script>
<script src="__GGLJS__/easing.js"></script>
<script src="__GGLJS__/index.js"></script>
<script src="__GGLJS__/main.js"></script>
	<script type="text/javascript"  src="__GGLJS__/jquery-1.9.1.js"></script>
<link rel="stylesheet" type="text/css" href="__GGLCSS__/swiper-3.4.1.min.css">
<script src="__GGLJS__/swiper-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="__GGLCSS__/style.css">
<link rel="stylesheet" type="text/css" href="__GGLCSS__/common.css">
<link rel="stylesheet" type="text/css" href="__GGLCSS__/font-awesome.css">

<!-- <link rel="stylesheet" type="text/css" href="__GGLCSS__/swiper.css">
<script src="__GGLJS__/swiper.min.js"></script> -->


</head>
