<!--  / header  -->
    <div class="header">
        <div class="logo">
            <a href="/wx_index.html"><img src="__IMAGES__/logo.png" width="120"></a>
        </div>
        <div class="shop">
            <a href="/wx_cart.html"><img src="__IMAGES__/header_car.png" width="20"></a>
        </div>
        <div class="header_search">
            <a href="/wx_search.html"><img src="__IMAGES__/header_search.png" width="20"></a>
        </div>
        <div class="header_n">
            <img src="__IMAGES__/si9.png" width="24" style="vertical-align: -6px;">
            <span>菜单</span>
        </div>

    </div>