<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>德意微商城</title>


	<link rel="shortcut icon" href="__IMAGES__/logo.ico"/>
	<meta http-equiv="cache-control" content="no-transform">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<!-- <script src="./js/hm.js"></script>
	<script async="" src="./js/analytics.js"></script> -->

	<link rel="stylesheet" type="text/css" href="__DZPCSS__/bootstrap.css">
	<link href="__DZPCSS__/index1.css" rel="stylesheet">

	<script type="text/javascript" src="__DZPJS__/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="__DZPJS__/awardRotate.js"></script>
	<script type="text/javascript" src="__DZPJS__/scroll.js"></script>


	<style>
		body {
			background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			-o-background-size: cover;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='__IMAGES__/bj.png', sizingMethod='scale');
		}
	</style>
</head>