<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="shortcut icon" href="__IMAGES__/logo.ico"/>
	<title>德意微商城</title>
	<meta name="keywords" content=" "/>
	<meta name="description" content=" "/>

	<link rel="stylesheet" type="text/css" href="__ZJDCSS__/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__ZJDCSS__/style.css">
	<link rel="stylesheet" type="text/css" href="__ZJDCSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__ZJDCSS__/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="__ZJDCSS__/swiper-3.4.1.min.css">

	<script src="__ZJDJS__/jquery-1.11.1.min.js"></script>
	<script src="__ZJDJS__/bootstrap.js"></script>
	<script src="__ZJDJS__/jquery-ui.min.js"></script>
	<script src="__ZJDJS__/easing.js"></script>
	<script src="__ZJDJS__/swiper-3.4.1.min.js"></script>
	<script src="__ZJDJS__/index.js"></script>
	<script src="__ZJDJS__/main.js"></script>
	<script type="text/javascript" src="__AJS__/alert.js"></script>
	<link rel="stylesheet" type="text/css" href="__CSS__/index1.css">
	<!--[if lte IE 9]>
	<script src="__ZJDJS__/respond.min.js"></script>
	<script src="__ZJDJS__/html5shiv.js"></script>
	<![endif]-->

</head>
<style>
	.wap_tanc_con{
		padding: 0px;
	}
</style>