<li><a href="/wx_user_new.html"><img src="__IMAGES__/mes1.png" width="100%"> 消息 <i>1</i></a></li>
<li><a href="/wx_ucenter.html"><img src="__IMAGES__/mes6.png" width="100%"> 个人中心</a></li>
<li><a href="/wx_index.html"><img src="__IMAGES__/mes2.png" width="100%"> 首页</a></li>
<li><a href="/wx_search.html"><img src="__IMAGES__/mes3.png" width="100%"> 搜索</a></li>
<li><a href="/wx_collect.html"><img src="__IMAGES__/mes4.png" width="100%"> 我的收藏</a></li>
<li><a href="/wx_browse.html"><img src="__IMAGES__/mes5.png" width="100%"> 浏览记录</a></li>