<div class="footer">
  <div class="footer_bot">
    <div class="container">
      <div class="footer_bot_icon">
        <div class="row">
          <div class="col-sm-3">
            <div class="footer_bot_icon_con"><img src="__IMAGES__/fi1.png" width="50">24小时服务响应</div>
          </div>
          <div class="col-sm-3">
            <div class="footer_bot_icon_con"><img src="__IMAGES__/fi2.png" width="50">7天无理由退货</div>
          </div>
          <div class="col-sm-3">
            <div class="footer_bot_icon_con"><img src="__IMAGES__/fi3.png" width="50">15天免费换货</div>
          </div>
          <div class="col-sm-3">
            <div class="footer_bot_icon_con"><img src="__IMAGES__/fi4.png" width="50">1500余家售后网点</div>
          </div>
        </div>
      </div>

      <div class="foot_menu clearfix">

        <div class="foot_menu_on clearfix">
          <ul>
            <li><a><h5>购物指南</h5></a></li>
            <li><a href="{:U('Shop/Help/userRegistration')}">用户注册</a></li>
            <li><a href="{:U('Shop/Help/orderFlow')}">订购流程</a></li>
            <li><a href="{:U('Shop/Help/vipSystem')}">会员制度</a></li>
            <!--<li><a href="help_6.html">免责声明</a></li>-->

          </ul>

          <ul>
            <li><a><h5>支付/配送</h5></a></li>
            <li><a href="{:U('Shop/Help/help_12')}">付款方式</a></li>
            <li><a href="{:U('Shop/Help/help_11')}">配送方式</a></li>
            <li><a href="{:U('Shop/Help/help_9')}">验货签收</a></li>
            <li><a href="{:U('Shop/Help/help_10')}">配送问题</a></li>
            <li><a href="{:U('Shop/Help/help_18')}">配送范围</a></li>

          </ul>

          <ul>
            <li><a><h5>常见问题</h5></a></li>

            <li><a href="{:U('Shop/Help/help_7')}">服务政策</a></li>
            <li><a href="{:U('Shop/Help/help_1')}">退货流程</a></li>
            <li><a href="{:U('Shop/Help/help_3')}">退款说明</a></li>
            <li><a href="{:U('Shop/Help/help_4')}">顾客必读</a></li>
            <li><a href="{:U('Shop/Help/help_2')}">积分奖励计划</a></li>
          </ul>

          <ul>
            <li><a><h5>购物条款</h5></a></li>
            <li><a href="{:U('Shop/Help/help_13')}">隐私保护政策</a></li>
            <li><a href="{:U('Shop/Help/help_14')}">会员注册协议</a></li>
            <li><a href="{:U('Shop/Help/help_15')}">商城使用条款</a></li>

          </ul>
          <ul>
            <li><a><h5>关于我们</h5></a></li>
            <li class="weibo"><a href="##">官方微博</a>
              <div class="weibo_img"><img src="__IMAGES__/weibo.png" width="100%"></div>

            </li>
            <li><a href="http://deyi1.unohacha.com?telephone={$topInfo.telephone}" target="_blank">德意官网</a></li>
            <li><a href="##">网站地图</a></li>
            <li><a href="/register.html">加入我们</a></li>

          </ul>

        </div>
        <div class="footer_top_left" style="border: none;">
          <!--<div class="footer_top_tit">扫码查看德意微商城</div>-->
          <div class="footer_img clearfix">

            <div class="footer_wei"><img src="{$shop_config.wx_shop}" width="50%">
              <h5>扫描二维码</h5>
              <p>关注德意微商城</p>
            </div>

            <div class="footer_wei"><img src="{$shop_config.wx_shop}" width="50%">
              <h5>扫描二维码</h5>
              <p>关注德意微网</p>
            </div>
          </div>
          <div class="footer_top_share">
            <h5>全国统一服务热线</h5>
            <p>{$shop_config.servise_phone}</p>
            <span style="display: none;">在线服务</span>

            <a href="tencent://message/?uin={$shop_config.servise_qq}&Site=sc.chinaz.com&Menu=yes" class="icon1"><i class="fa fa-qq"></i></a>
            <a href="##" class="foot_weixin"><i class="fa fa-weixin"></i>

              <div class="foot_weixin_im"><img src="{$shop_config.wx_shop}" width="100%"></div>
            </a>
            <a href="##" class="foot_wei"><i class="fa fa-weibo"></i>
              <div class="foot_wei_im"><img src="{$shop_config.weibo}" width="100%"></div>
            </a>
          </div>
        </div>

      </div>
      <div class="footer_bot_con clearfix">

        <div class="copy">© Copyright 2017 DE&E 德意保留所有权利 浙ICP备05055867号</div>
        <div class="unohacha" style="top:0px;">
          <iframe name="ab" scrolling="no" src="/Public/Shop/unohacha/index.html" width="107" height="40" border="0" frameborder="0" allowTransparency="true" marginwidth="0" marginheight="0" style="background-color:transparent"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>