<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="__IMAGES__/logo.ico"/>
    <meta name="author" content="UNOHACHA-高端网站设计-http://www.unohacha.com-杭州吾诺瀚卓网络科技有限公司 策划、设计、开发"/>
    <title>德意商城</title>
    <meta name="keywords" content=" "/>
    <meta name="description" content=" "/>

    <!--自适应-->
    <link rel="stylesheet" href="__CSS__/bootstrap.css" type="text/css"/>
    <script src="__JS__/jquery-1.11.3.min.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/jquery-ui.min.js"></script>
    <!--自适应-->

    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.css">
    <link href="__CSS__/city-picker.css" rel="stylesheet">
    <script src="__JS__/easing.js"></script>


    <!--<link rel="stylesheet" href="__CSS__/swiper.css">-->
    <!--<script src="__JS__/swiper.min.js"></script>-->
    <script src="__JS__/index.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">

    <script src="__JS__/head.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/header.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/index1.css">

    <script type="text/javascript">
        var system ={};
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        if(system.win||system.mac||system.xll){
            //window.location.href="http://wx.china-lingshan.com/Home/Index/index.html";
        }else{
            window.location.href="http://dyshop.unohacha.com/Wx.html";
        }
    </script>
</head>
