<div class="pro_box_tit">
    <a href="{:U('Shop/Help/payment')}" style="background:#e50011;">
        <img src="__IMAGES__/help_12_o.png" width="35">
        <p>付款方式</p>
    </a>
    <a href="{:U('Shop/Help/delivery')}" > <img src="__IMAGES__/help_11_o.png" width="35">
        <p>配送方式</p>
    </a>

    <a href="{:U('Shop/Help/examine')}" >
        <img src="__IMAGES__/help_9_o.png" width="35">
        <p>验货签收</p>
    </a>

    <a href="{:U('Shop/Help/deliveryIssue')}" >
        <img src="__IMAGES__/help_pei.png" width="35">
        <p>配送问题</p>
    </a>
    <a href="{:U('Shop/Help/deliveryScope')}" >
        <img src="__IMAGES__/help_pei1.png" width="35">
        <p>配送范围</p>
    </a>

</div>