<div class="menu_right">

    <a href="##" class="guanzhu">
        <span></span>
        <p>关注我们</p>
        <div class="div_lin1"></div>

        <div class="erweima">
            <div class="erweima1">
                <img src="__IMAGES__/weixin_erweima.jpg" width="100%">
                <div class="jiantou"></div>
            </div>
        </div>
    </a>

    <a href="tencent://message/?uin=554172867&Site=sc.chinaz.com&Menu=yes" class="guanzhu zaixian">
        <span></span>
        <p>在线客服</p>
        <div class="div_lin1"></div>
    </a>

    <a href="##" class=" hui">
        <span></span>
        <p>回顶部</p>
    </a>
</div>